<!DOCTYPE HTML>
<html xmlns  ng-app="App" ng-controller="MainController" ng-init="init();$root.scrollhide='bodymain';showmainloader=true;" ng-class="$root.scrollhide" lang="en" xml:lang="en">

<head>

<script type="5211f069123e1825c448f538-text/javascript">
        if (navigator.userAgent.indexOf("Chrome-Lighthouse") == -1) {
            // Google Tag Manager as Payload for all 3rd-party JS
            (function (w, d, s, l, i) {
                w[l] = w[l] || []; w[l].push({
                    'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
                }); var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                        '../www.googletagmanager.com/gtm5445.html?id=' + i + dl; f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-WJXJGK2');
            // please replace GTM-XXXXXXXXXX with own GTM ID
        }
    </script>

<title>Critical Illness Insurance</title>
<meta name="description" content="Critical Illness Insurance provides coverage against life-threatening diseases. Compare/Buy best critical illness insurance plan online of top insurers in India.">
<link rel="shortcut icon" href="images/insurejoy-favicon.png" type="image/png" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
<link href="sass/productsass.css" rel="stylesheet" type="text/css" />
<style>
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body>

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WJXJGK2" height="0" width="0" style="display: none; visibility: hidden;"></iframe></noscript>

<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="hidden">
<symbol viewBox="0 0 212.982 212.982" id="cross">
<path d="M131.804 106.491l75.936-75.936c6.99-6.99 6.99-18.323 0-25.312-6.99-6.99-18.322-6.99-25.312 0L106.491 81.18 30.554 5.242c-6.99-6.99-18.322-6.99-25.312 0-6.989 6.99-6.989 18.323 0 25.312l75.937 75.936-75.937 75.937c-6.989 6.99-6.989 18.323 0 25.312 6.99 6.99 18.322 6.99 25.312 0l75.937-75.937 75.937 75.937c6.989 6.99 18.322 6.99 25.312 0 6.99-6.99 6.99-18.322 0-25.312l-75.936-75.936z" fill-rule="evenodd" clip-rule="evenodd"></path>
</symbol>
<symbol viewBox="0 0 451.846 451.847" id="arrowright">
<path d="M345.441 248.292L151.154 442.573c-12.359 12.365-32.397 12.365-44.75 0-12.354-12.354-12.354-32.391 0-44.744L278.318 225.92 106.409 54.017c-12.354-12.359-12.354-32.394 0-44.748 12.354-12.359 32.391-12.359 44.75 0l194.287 194.284c6.177 6.18 9.262 14.271 9.262 22.366 0 8.099-3.091 16.196-9.267 22.373z"></path>
</symbol>
<symbol viewBox="0 0 486.988 486.988" id="home">
<path d="M16.822 284.968h49.667v158.667c0 9.35 7.65 17 17 17h116.167c9.35 0 17-7.65 17-17V327.468h70.833v116.167c0 9.35 7.65 17 17 17h110.5c9.35 0 17-7.65 17-17V284.968h48.167c6.8 0 13.033-4.25 15.583-10.483 2.55-6.233 1.133-13.6-3.683-18.417L260.489 31.385c-6.517-6.517-17.283-6.8-23.8-.283L5.206 255.785c-5.1 4.817-6.517 12.183-3.967 18.7 2.55 6.516 8.783 10.483 15.583 10.483zm231.2-217.6l181.333 183.6h-24.367c-9.35 0-17 7.65-17 17v158.667h-76.5V310.468c0-9.35-7.65-17-17-17H189.656c-9.35 0-17 7.65-17 17v116.167H90.489V267.968c0-9.35-7.65-17-17-17H58.756l189.266-183.6z"></path>
</symbol>
<symbol viewBox="0 0 451.847 451.847" id="arrowd">
<path fill=" #f58634x" d="M225.923 354.706c-8.098 0-16.195-3.092-22.369-9.263L9.27 151.157c-12.359-12.359-12.359-32.397 0-44.751 12.354-12.354 32.388-12.354 44.748 0l171.905 171.915 171.906-171.909c12.359-12.354 32.391-12.354 44.744 0 12.365 12.354 12.365 32.392 0 44.751L248.292 345.449c-6.177 6.172-14.274 9.257-22.369 9.257z"></path>
</symbol>
</svg>
<header ng-class="$root.showHeaderClass">

<nav class="navproduct">

<div class="leftarea">
<svg class="hamburger" onclick="if (!window.__cfRLUnblockHandlers) return false; openNav()" data-cf-modified-5211f069123e1825c448f538-="">
<!-- <use xlink:href="images/sprite.svg#hamburger"></use> -->
<h1>MY COMPANY</h1>
</svg>
<svg class="logo" style="position: relative; z-index: 0;" ng-click="getIndex('/')">
<use xlink:href="images/sprite.svg#ijlogo-blue"></use>
</svg>
</div>
<div class="rightarea">
<ul ng-if="device == 'Desktop'">
<li><a class="dropbtn" href="index.html" ng-click="header('hOME')">Home</a></li>
<li><a class="dropbtn" href="about.html" ng-click="header('About Us')">About</a></li>
<li>
<div class="dropdown">
<a class="dropbtn" ng-click="openLife();">
Life
<svg>
<use xlink:href="images/sprite.svg#arrowd"></use>
</svg>
</a>
<div class="dropdown-content">
<a class="limr1" href="term-insurance.html" ng-click="header('Term')">Term</a>
<a class="limr1" href="child-plans.html" ng-click="header('Child')">Child</a>
<a class="limr1" href="investment-plans.html" ng-click="header('Investment')">Investment</a>
<a class="limr1" href="pension-plans.html" ng-click="header('Pension')">Pension</a>
</div>
</div>
</li>
<li>
<div class="dropdown">
<a class="dropbtn">
Health
<svg>
<use xlink:href="images/sprite.svg#arrowd"></use>
</svg>
</a>
<div class="dropdown-content">
<a class="limr1" href="health-insurance.html" ng-click="header('Health')">Health</a>
<a class="limr1" href="critical-illness-insurance.html" ng-click="header('Critical Illness')">Critical Illness</a>
</div>
</div>
</li>
<li><a class="dropbtn" href="car-insurance.html" ng-click="header('Car')">Car</a></li>
<li><a class="dropbtn" href="bike-insurance.html" ng-click="header('Bike')">Bike</a></li>
<li class="mobnumber">Service : <span>1700 468 7699</span></li>
</ul>
</div>
</nav>
<div id="myNav" class="overlay">
<a href="javascript:void(0)" class="closebtn" onclick="if (!window.__cfRLUnblockHandlers) return false; closeNav()" data-cf-modified-5211f069123e1825c448f538-="">&times;</a>
<div class="overlay-content">
<a class="" href="about.html" ng-click="header('About Us')">About Us</a>
<a class="" href="term-insurance.html" ng-click="header('Term')">Term Insurance</a>
<a class="" href="child-plans.html" ng-click="header('Child')">Child Plans</a>
<a class="" href="investment-plans.html" ng-click="header('Investment')">Investment Plans</a>
<a class="" href="pension-plans.html" ng-click="header('Pension')">Pension Plans</a>
<a class="" href="health-insurance.html" ng-click="header('Health')">Health Insurance</a>
<a class="" href="critical-illness-insurance.html" ng-click="header('Critical Illness')">Critical Illness Cover</a>
<a class="" href="car-insurance.html" ng-click="header('Car')">Car Insurance</a>
<a class="" href="bike-insurance.html" ng-click="header('Bike')">Bike Insurance</a>
<a href="contact.html">Contact Us</a>
<a> <span class="cnstyle">Service : <span>1700 468 7699</span></span></a>
</div>
</div>
</header>
<main>
<section class="productbanner">
<div class="container">
<h1>
<span>
Critical Illnesses Cover
</span>
</h1>
<h5>
<span>Prepare You Against Major Diseases</span> like Cancer, Heart Problems, Paralysis etc. which require
special & costly treatment by providing a lump sum amount to cover your medical expenses
</h5>
<div class="formapararea">
<div class="pointers leftprt" style="visibility: visible; animation-name: fadeInRight;">
<div class="pointstyle">
<svg>
<use xlink:href="images/sprite.svg#covid"></use>
</svg>
<p class="txt">Covid-19 Covered</p>
</div>
<div class="pointstyle"></div>
<div class="pointstyle">
<svg>
<use xlink:href="images/sprite.svg#support"></use>
</svg>
<p class="txt">Guaranteed Claims<br /> Assistance </p>
</div>
</div>
<div class="productpagebox">
<div class="felement elementcontainer nopad " ng-show="termpopup">
<p class="felement text-center mb-2"> Get <span>Live Quotes</span> From Top Insurance Companies</p>
<div class="helement1 mt-2 mb-2">
<div class="inputcontainer flcenter-sb">
<div class="halflbl">Gender</div>
<div class="restlbl">
<a data-ng-class="maleclass" data-ng-click="checkgender(0)">Male</a>
<a data-ng-class="femaleclass" data-ng-click="checkgender(1)">Female</a>
</div>
</div>
</div>
<div class="helement1 mt-2 mb-2">
<div class="inputcontainer flcenter-sb">
<div class="halflbl"> Tobacco User</div>
<div class="restlbl">
<a data-ng-class="smokeclass" data-ng-click="checksmoker(1)">Yes</a>
<a data-ng-class="nosmokeclass" data-ng-click="checksmoker(0)">No</a>
</div>
</div>
</div>
<div class="helement mt-2 mb-2 mbar">
<h6 class="col-md-12 popuph"> Type/Select Annual Income </h6>
<div class="inputcontainer mobinput">
<label></label>
<input type="tel" autocomplete="off" placeholder="Please type & choose annual income" ng-model="selectedtermincomepop" class="inputarea" ng-focus="closemblpop(2,6)" ng-click="closemblpop(2,6)" />
<span ng-show="annualerror" ng-cloak class=" errorclass erposr">Select annual income from list</span>
</div>
</div>
<div class="helement mt-2 mb-2 desbar">
<h6> Annual Income </h6>
<div class="fincom">
<span ng-show="dotmessage" ng-cloak class="red small-text">* </span>{{usertextincome}}
</div>
<div class="inputcontainer">
<input id="userincome" class="inputarea" type="text" autocomplete="off" ng-model="incomeItem" required="" ng-click="clickItem(1,'income')" ng-keyup="clickItem(1,'income')">
<label for="userincome">Type and select income</label>
<ul class="dd-content" off-click="returnItem(result,'income')" off-click-activator="showIncomeList" ng-cloak ng-show="showIncomeList">
<li ng-repeat="item in userActualIncome | startsWithLetter:incomeItem as result" ng-click="clickItem(item,'income')">
{{item.text}}
</li>
<li ng-show="result.length==0 && userActualIncome.length>0" ng-repeat-empty>Items not found...</li>
<li ng-show="userActualIncome.length==0" ng-repeat-empty>Loading now....</li>
</ul>
<span ng-show="annualerror" ng-cloak class="errorclass erposr">Type and select a value from list </span>
</div>
</div>
<div class="helement mt-2 mb-2">
<h6> With date of birth </h6>
<div class="inputcontainer flcenter-sb">
<input id="Tel13" numbers-only type="tel" autocomplete="off" class="dtinput " ng-model="IGdate" focus-me="dd1" maxlength="2" placeholder="DD" ng-blur="testdate(1,1)" ng-keyup="IGdateKey(1,$event)">
<input id="Tel14" numbers-only type="tel" autocomplete="off" ng-model="IGmonth" class="dtinput " focus-me="dd2" maxlength="2" placeholder="MM" ng-blur="testdate(2,1)" ng-keyup="IGdateKey(2,$event)">
<input id="Tel15" numbers-only type="tel" autocomplete="off" class="yearinput " ng-model="IGyear" focus-me="dd3" maxlength="4" placeholder="YYYY" ng-blur="testdate(3,1)" ng-keyup="IGdateKey(3,$event)" />
<span ng-if="dateerror" class="errorclass erposr">Enter Correct Age(Min 18 yrs or Max 65 yrs)</span>
</div>
</div>
<div class="helement mt-2 mb-2 mbar">
<h6> Type/Select City </h6>
<div class="inputcontainer mobinput">
<label></label>
<input type="text" autocomplete="off" placeholder="Please type and choose the city" required="" ng-model="selectedcitynampop" class="inputarea" ng-focus="closemblpop(2,1)" ng-click="closemblpop(2,1)" />
<span ng-show="cityerror" ng-cloak class="errorclass erposr">Select a city from list</span>
</div>
</div>
<div class="helement mt-2 mb-2 desbar">
<h6> Living in </h6>
<div class="inputcontainer">
<input id="usercity" class="inputarea" type="text" autocomplete="off" required="" ng-model="cityItem" ng-click="clickItem(1,'city')" ng-keyup="clickItem(1,'city')">
<label for="usercity">Type and select city</label>
<ul class="dd-content" off-click="returnItem(result,'city')" off-click-activator="showCityList" ng-cloak ng-show="showCityList">
<li ng-repeat="item in commoncitystate | startsWithLetter1:cityItem as result" ng-click="clickItem(item,'city')" ng-enter="clickItem(item,'city')">
{{item.cityname}}
</li>
<li ng-cloak ng-show="result.length==0 && commoncitystate.length>0" ng-repeat-empty>Items not found...</li>
<li ng-show="commoncitystate.length==0" ng-repeat-empty>Data Loading...</li>
</ul>
<span ng-show="cityerror" ng-cloak class="errorclass erposr">Type and select a value from list</span>
</div>
</div>
<div class="helement mt-2 mb-2 text-center">
<h6> Mobile No. </h6>
<div class="inputcontainer ">
<input id="usermob" type="tel" autocomplete="off" numbers-only maxlength="10" required="" ng-model="userMobile" ng-blur="checkmoberror(userMobile)" class="inputarea" aria-invalid="false" />
<label for="usermob">Enter Mobile No.</label>
<span ng-show="mobileerror" class="errorclass erposr ">Please enter valid mobile no.</span>
<span ng-cloak ng-show="wrongMobile" class="errorclass erposr " ng-bind="wrongMobilemsg"> </span>
<span ng-cloak class="red small-text " ng-bind="leadCreationExceedMsg"></span>
</div>
</div>
<div class="felement text-center mt-3 mb-2 ">
<button data-ng-click="submitted=true;gettermquotes(9)" class="getquotesbt " type="button">
<span ng-show="!showbtntermloader" ng-disabled="showbtntermloader"> Get Live Quotes</span>
<div class="spinnerw" ng-cloak ng-show="showbtntermloader">
<span></span>
<span></span>
<span></span>
</div>
</button>
</div>
<div class="felement text-center ">
<span class="consentms">We respect your privacy and we hate spam calls as much as you do. We will communicate with you only to help you in choosing the right insurance policy.</span>
</div>
</div>
<div ng-cloak ng-show="showotpbox" class="col-md-12 col-sm-12 col-xs-12  userloginarea ">
<h2 class="">OTP</h2>
<h5>
Enter 4-digit code sent to <br />your mobile no. <span ng-bind="userMobile "> </span>
<a ng-click="UpdateMobileNo()" class="updatenum " style="clear: both; ">Edit</a>
</h5>
<div class="felement text-center mt-3 mb-1 ">
<div class="otparea formar ">
<input type="tel" autocomplete="off" data-ng-model="userOTP0" ng-keyup="otpKey(0, $event)" focus-me="OTP0" value="" numbers-only maxlength="1" minlength="1" class="otpcontainer">
<input type="tel" autocomplete="off" data-ng-model="userOTP1" ng-keyup="otpKey(1, $event)" focus-me="OTP1" value="" numbers-only maxlength="1" minlength="1" class="otpcontainer">
<input type="tel" autocomplete="off" data-ng-model="userOTP2" ng-keyup="otpKey(2, $event)" focus-me="OTP2" value="" numbers-only maxlength="1" minlength="1" class="otpcontainer">
<input type="tel" autocomplete="off" data-ng-model="userOTP3" ng-keyup="otpKey(3, $event)" focus-me="OTP3" value="" numbers-only maxlength="1" minlength="1" class="otpcontainer">
</div>
</div>
<div class="felement text-center " style=" height:14px;">
<label ng-show="wrongotpmsgshow" class="errorotp ng-binding">Please enter correct OTP</label>
</div>
<div class="felement text-center mt-3 mb-2 ">
<div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12  text-center mrgtbn">
<button ng-cloak ng-show="showotpbox" data-ng-click="submitted=true;submitleadform(0,2)" class="getquotesbt " type="button">
<span ng-show="!showbtnleadloader" ng-disabled="showbtnleadloader">Verify</span>
<span class="spinnerw" ng-cloak ng-show="showbtnleadloader">
<span></span>
<span></span>
<span></span>
</span>
</button>
</div>
</div>
<div class="felement text-center mt-2 mb-3 ">
<div class="resarea">
<span class="resendotpdis" ng-cloak ng-show="!(showotpbox && showResend)">
Resend OTP <span ng-show="showotpbox && !showResend" class="timertext"> in <span ng-bind="resendtime"></span> sec.</span>
</span>
<span ng-click="otpFn(2)" class="resendotp" ng-cloak ng-show="showotpbox && showResend">Resend OTP</span>
</div>
</div>
</div>
</div>
<div class="pointers rightprt">
<div class="pointstyle"></div>
<div class="pointstyle">
<svg>
<use xlink:href="images/sprite.svg#tax"></use>
</svg>
<p class="txt">Save Tax Upto 70,000</p>
</div>
<div class="pointstyle"></div>
</div>
<div class="clearfix"></div>
</div>
</div>
</section>
<section class="mainpop mbar" ng-show="showcitypop">
<div class="fpop">
<svg class="closebtnew" ng-click="closemblpop(1)">
<use xlink:href="#cross"></use>
</svg>
<div class="felement" ng-show="termannualmblpop" ng-cloak>
<div class="mobheadinput ">
<input focus-me="myInputFocusTermIncome" type="text" autocomplete="off" ng-model="searchText02" class="newmobauto-pop" placeholder="Type/Select your annual income.." />
</div>
<ul class="openlist pttop50">
<li ng-repeat="item in userActualIncome|startsWithLetter:searchText02 as result" ng-click="closemblpop(item,6)"> <a class="autocompst">{{item.text}}</a> </li>
<li ng-cloak ng-show="result.length==0 && userActualIncome.length>0" ng-repeat-empty>Items not found...</li>
<li ng-show="userActualIncome.length==0" ng-repeat-empty>Data Loading...</li>
</ul>
</div>
<div class="felement" ng-show="citymblpop" ng-cloak>
<div class="mobheadinput">
<input focus-me="myInputFocus" type="text" autocomplete="off" ng-model="searchText03" class="newmobauto-pop " placeholder="Type/Select your city.." />
</div>
<ul class="openlist pttop50">
<li ng-repeat="item in commoncitystate | startsWithLetter1:searchText03 as result" ng-click="closemblpop(item,1)"> <a class="autocompst">{{item.cityname}}</a> </li>
<li ng-cloak ng-show="result.length==0 && commoncitystate.length>0" ng-repeat-empty>Items not found...</li>
<li ng-show="commoncitystate.length==0" ng-repeat-empty>Data Loading...</li>
</ul>
</div>
</div>
</section>
<div class="container contentarea">
<div class="leftcontent">
<div class="breadcrumbarea">
<a class="homelink" href="%7b%7bhomePageUrl%7d%7d.html"> <svg><use xlink:href="#home"></use></svg></a>
<a class="commonlinkactive" href="%7b%7bhomePageUrl%7d%7d.html">
<span>Home</span>
</a>
<span class="commonlink">
<svg><use xlink:href="#arrowright"></use></svg>
<span> Critical Illness Cover</span>
</span>
</div>
<section>
<h5 class=" sectiontitle ">Protect your family </h5>
<h2>
Best Critical Illness Insurance Plans at insurejoy.com
</h2>
<p>
Most of you must have health insurance plans, but does your health insurance cover critical illness? In that case, what is critical illness insurance and what does it cover? Let us find out the answers in detail to all these questions.
</p>
<div class="smsection">
<h3>What is a Critical Illness Insurance Policy?</h3>
<p>Critical Illness Insurance provides coverage for certain fatal diseases. Treatment for such critical illnesses require frequent hospital visits and extends for several months to years. This critical illness insurance will pay a lump sum amount that will cover the hospital bills, consultation fees, and other medical expenses.</p>
<p>The critical illnesses include cancer, heart problems, pulmonary disorders, brain tumour, paralysis, Alzheimer's Disease, Parkinson&rsquo;s Disease,  stroke, and so on. Most insurance companies cover more than 34 critical illnesses.</p>
<p>The critical insurance plan runs for a specified tenure, and if you suffer from any of the covered critical illnesses during the term of the plan, you get the benefit. The benefits include the Sum Insured amount chosen under the plan or waiver of future premiums. </p>
</div>
<div class="smsection">
<h3>
Does My Current Health Insurance Cover for Critical Illnesses?
</h3>
<p>Standard health insurance plans cover only general diseases. So a normal health insurance plan might not suffice and you might need additional coverage to assist you financially.</p>
</div>
</section>
<section>
<h5 class=" sectiontitle ">Why Should You Buy </h5>
<h2>
Critical Illnesses Cover
</h2>
<p>According to Global Burden of Disease Study, around 60% of death in India is due to critical illness. The treatment to cure this illness is time-consuming and very expensive. These expensive treatments will leave a big hole in the pocket and not every family can afford expensive treatment. </p>
<p> Here is where the critical illness insurance plan becomes in charge of covering your medical bills and the lump sum amount provided will help in the household expenses. </p>
<p>The two main reasons to buy critical illness insurance is </p>
<div class="featureblock">
<div class="reasonst num">1</div>
<div class="featurest">
<p>
<strong>Due to high treatment costs on critical illness - </strong> For instance, if a person is diagnosed with cancer, he must be ready to spend lakhs for treatments, regular follow-up, check-ups, testing, reports etc. Critical illness policy takes care of all these expenses incurred in treatment.
</p>
</div>
</div>
<div class="featureblock">
<div class="reasonst num">2</div>
<div class="featurest">
<p>
<strong>Critical Illness Insurance provides Financial support - </strong> Policy provides lump sum amount of sum assured by which customer can cover regular hospitalization expenses, specific day care procedures, after a certain period from the start date as per the policy details. It also caters to all related cost incurred
in treating critical Illness.
</p>
</div>
</div>
</section>
<section>
<h5 class=" sectiontitle "> Life-Threatening Diseases </h5>
<h2>
Which Critical Illness Insurance Covers
</h2>
<p>The critical illness insurance covers the following diseases:</p>
<ul>
<li>Heart attack</li>
<li>Stroke</li>
<li>Cancer up to a specific stage</li>
<li>Coronary artery bypass surgery</li>
<li>Coma </li>
<li>Kidney Failure requiring dialysis </li>
<li>Organ transplant</li>
<li>Bone marrow transplant</li>
 <li>Paralysis of limbs</li>
<li>Aplastic Anemia</li>
<li>Aphasia</li>
<li>End-stage Liver Disease</li>
<li>Muscular dystrophy</li>
<li>Major Burns</li>
<li>Multiple Sclerosis</li>
</ul>
</section>
<section>
<h5 class=" sectiontitle "> What is not covered </h5>
<h2>
Exclusions
</h2>
<p>
The critical illness insurance will not cover under the following conditions:
</p>
<ul>
<li>If the critical illness is diagnosed after purchasing the insurance within the waiting period.</li>
<li>If a critical illness is diagnosed due to lifestyle habits such as tobacco, smoking, alcohol or drug intake. </li>
<li>HIV/AIDS</li>
<li>Pregnancy or childbirth-related critical conditions </li>
<li>Dental care </li>
<li>Cosmetic surgery</li>
<li>Infertility treatment </li>
<li>Hormone replacement treatment</li>
<li>Treatment that has been taken outside India</li>
<li> If death occurs within 30 days of diagnosis of critical illness or surgery</li>
<li>If any critical illness is caused due to war, military operation, terrorism.</li>
</ul>
</section>
<section>
<h5 class=" sectiontitle ">Important Features of </h5>
<h2>
Critical Illness Insurance Policy
</h2>
<p>
The features of Critical Illness insurance plans include the following:
</p>
<div class="elementcontainer1 ">
<div class="helement ">
<h3>Covers Life-Threatening Diseases</h3>
<p>Standard health insurance plan does not cover Critical Illness diseases such as organ transplant, cancer, stroke, heart attack. So it is necessary to take critical illness insurance that offers extensive coverage for 36 major critical illnesses</p>
</div>
<div class="helement ">
<h3>
Covers the Treatment Costs
</h3>
<p>100% guaranteed lump sum payout is given in case of diagnosis of 36 critical illnesses that can cover regular hospitalization expenses or specific daycare procedures. </p>
</div>
<div class="helement ">
<h3>Hassle-free Claim Procedure</h3>
<p>To claim the sum insured only the diagnostic reports are enough to get the benefits. Hence hospitalization or medical bills are not required for the claim. The policyholder receives the payout as a lump sum so that the person can plan the treatment accordingly. The benefit amount is paid only if the insured survives 30 or 60 days of waiting period once the disease is diagnosed. The claim settlement process is faster and hassle-free.</p>
</div>
<div class="helement ">
<h3>
Tax Benefit
</h3>
<p>You can avail of tax benefits for critical illness premiums under section 80D of the Income Tax act. For senior citizens, the premiums paid for the plan, up to Rs.25, 000 or Rs.30, 000 are exempt from tax.</p>
</div>
<div class="helement ">
<h3>Free-Look Period</h3>
<p>The insured is allowed a free-look period of 15 days wherein he can cancel the policy if the terms don’t match the policyholders' expectations. The premium amount is refunded in case of such cancellation.</p>
</div>
<div class="helement ">
<h3>
Waiver of Premium
</h3>
<p>In case of permanent disability, the future premiums are waived off.</p>
</div>
</div>
</section>
<section>
<h5 class=" sectiontitle ">Major Benefits of </h5>
<h2>
Critical Illness Insurance Policy
</h2>
<p>The critical illness insurance policy offers various benefits like: </p>
<ol>
<li>The sum assured payout is provided that can be used for treatment bills, medical bills, etc. </li>
<li>Certain insurance companies also offer non-allopathic treatment costs up to specified limits. </li>
<li>This plan provides coverage for the entire family members under a single plan as per the policy details. Here each member is eligible to receive cover once during the policy tenure. </li>
<li>Few insurance companies have designed insurance plans that cater to women-specific critical illnesses. The critical illness insurance covers permanent paralysis, fallopian tube cancer, breast cancer, ovarian cancer, burns, vaginal cancer, and a few others. Bajaj Allianz, Tata AIG are a few of them who offer these policies. </li>
<li>A pre-medical test is not required while purchasing the policy if you do not have any pre-existing illnesses or are aged below 45 years. </li>
<li>The policyholder receives a lump-sum benefit in case of diagnosis of any specified critical illness. Also, the insured is eligible for a waiver of premium for the remaining tenure of the policy. </li>
<li>The insurance companies offer renewal discounts for every claim-free year. </li>
</ol>
</section>
<section>
<h5 class=" sectiontitle ">Comparison of </h5>
<h2>
15 Best Critical Illness Insurance Plans in India:
</h2>
<div class="tablearea">
<table class="table table-bordered table-hover">
<thead>
<tr>
<th><strong>Insurance Plan</strong></th>
<th><strong>Age </strong><strong> </strong></th>
<th><strong>Claim Settlement Ratio</strong><strong> </strong></th>
<th><strong>Min Sum Insured</strong><strong> </strong></th>
<th><strong>Network Hospitals</strong><strong> </strong></th>
</tr>
</thead>
<tr>
<td><strong>Care Critical Illness Plan</strong></td>
<td>
<strong>Critical- </strong><br>
Min 5 years<br>
Max 50 years
<p>
<strong>Assure-</strong><br>
Min -18 years<br>
Max-65 years
<p>
<strong>Super Mediclaim-</strong><br>
Min- 91 days<br>
Max- No limit
</td>
<td>92.83%</td>
<td>
<strong>Critical- </strong><br>
Rs. 10 lakh
<p>
<strong>Assure-</strong><br>
Rs. 5 lakh<br>
<br>
<br>
<strong>Super Mediclaim-</strong><br>
Rs. 1 lakh
</td>
<td>8,250+</td>
</tr>
<tr>
<td><strong>Max Bupa Critical Illness Plan</strong></td>
<td>
<strong>Criticare-</strong><br>
Min -18 years<br>
Max-65 years
<p>
<strong>Health Pulse-</strong><br>
Min- 91 days<br>
Max- 65 years<strong></strong>
</td>
<td>89.46%</td>
<td>Rs. 3 lakh</td>
<td>4,500+</td>
</tr>
<tr>
<td><strong>Star Critical Illness Plan</strong><strong> </strong></td>
<td>
<strong>Criticare-</strong><br>
Min -18 years<br>
Max-65 years
<h3>&nbsp;</h3>
</td>
<td>78.62%</td>
<td>Rs. 2 lakh </td>
<td>9,900+</td>
</tr>
<tr>
<td><strong>Manipal Cigna Critical Illness Plan</strong></td>
<td>
<strong>Criticare-</strong><br>
Min -18 years<br>
Max-65 years
<h3>&nbsp;</h3>
</td>
<td>85.72%</td>
<td>Rs. 1 lakh</td>
<td>6,500+</td>
</tr>
<tr>
<td><strong>HDFC ERGO Critical Illness Plan</strong></td>
<td>
<strong>Critical- </strong><br>
Min 5 years<br>
Max 65 years
<p>
<strong>iCan Cancer</strong><br>
Min 5 years<br>
Max 65 years
</td>
<td>86.52%</td>
<td>
Rs. 5 lakh
<h3>&nbsp;</h3>
</td>
<td>10,000+</td>
</tr>
<tr>
<td><strong>Royal Sundaram Critical Illness Plan</strong></td>
<td>
<strong>Lifeline</strong><br>
Min- 91 days<br>
Max- No limit
<p>
<strong>Critical- </strong><br>
Min- 91 days<br>
Max- 65 years
</td>
<td>81.50%</td>
<td>
<strong>Lifeline</strong><br>
Rs. 2 lakh
<p>
<strong>Critical- </strong><br>
Rs. 25,000
</td>
<td>5,000+</td>
</tr>
<tr>
<td><strong>Edelweiss Critical Illness Plan</strong></td>
<td>
Min- 3 months<br>
Max- No limit
<h3>&nbsp;</h3>
</td>
<td>85.57%</td>
<td>Rs. 1 lakh </td>
<td>2,578+</td>
</tr>
<tr>
<td><strong>New India  Critical Illness Plan</strong></td>
<td>
<strong>Floater</strong><br>
Min- 3 months<br>
Max- 65 years
<p>
<strong>Cancer Mediclaim</strong><br>
Min -18 years<br>
Max-70 years
</td>
<td>92.68%</td>
<td>
<strong>Floater</strong><br>
Rs. 2 lakh
<p>
<strong>Cancer Mediclaim</strong><br>
Rs. 50,000
</td>
<td>1,500+</td>
</tr>
<tr>
<td><strong>Bajaj Allianz Critical Illness Plan</strong></td>
<td>
<strong>Critical- </strong><br>
Min- 6 years<br>
Max- 65 years
<p>&nbsp;
<p>
<strong>Women Specific</strong> <strong>Critical- </strong><br>
Min- 21 years<br>
Max- 65 years
</td>
<td>92.24%</td>
<td>
<strong>Critical- </strong><br>
Rs. 1 lakh
<p>
<strong>Women Specific</strong> <strong>Critical- </strong><br>
Rs. 50,000
</td>
<td>6,500+</td>
</tr>
<tr>
<td><strong>Liberty Critical Illness Plan</strong></td>
<td>-</td>
<td>81.03%</td>
<td>-</td>
<td>5,000+</td>
</tr>
<tr>
<td><strong>IFFCO TOKIO Critical Illness Plan</strong></td>
<td>
Min- 5 years<br>
Max- 60 years
</td>
<td>96.33%</td>
<td>Rs. 2 lakh</td>
<td>5,000+</td>
</tr>
<tr>
<td><strong>Future Generali Critical Illness Plan</strong></td>
<td>
Min- 6 years<br>
Max- 65 years
</td>
<td>82.96%</td>
<td>Rs. 1 lakh</td>
<td>5,100+</td>
</tr>
<tr>
<td><strong>National Critical Illness Plan</strong></td>
<td>
Min -18 years<br>
Max-65 years
</td>
<td>83.78%</td>
<td>Rs. 1 lakh</td>
<td>6,000+</td>
</tr>
<tr>
<td><strong>Oriental Critical Illness Plan</strong></td>
<td>
Min- 91 days<br>
Max- 70 years
</td>
<td>93.96%</td>
<td>Rs. 1 lakh</td>
<td>4,300+</td>
</tr>
<tr>
<td><strong>Magma HDI Critical Illness Plan</strong></td>
<td>
Min- 91 days<br>
Max- 65 years
</td>
<td>95.17%</td>
<td>Rs. 2 lakh</td>
<td>4,300+</td>
</tr>
</table>
</div>
</section>

<section>
<h5 class=" sectiontitle ">7 Comparison Points Between </h5>
<h2>
Critical Illness Insurance & Health Insurance Plan
</h2>
<p>
There is a huge difference between critical illness insurance and health insurance. Choosing the right cover is very important so that the insurance covers our medical expenses and do not disturb our life goals.<br>
To help you understand better insurejoy.com has made a comparison table to know which is the right plan for you.
</p>
<div class="tablearea">
<table class="table table-bordered table-hover">
<thead>
<tr>
<th>
Features
</th>
<th>Critical Illness Insurance </th>
<th>Health Insurance </th>
</tr>
</thead>
<tr>
<td>Expense Covered</td>
<td>You get a lump sum payout in case you are diagnosed with a critical illness</td>
<td>It covers the hospitalisation expenses</td>
</tr>
<tr>
<td>Benefit</td>
<td>A lump sum amount is paid irrespective of the actual expense incurred</td>
<td>It is an indemnity plan which covers only the actual expense</td>
</tr>
<tr>
<td>Tenure</td>
<td>The policy tenure is for 15-20 years</td>
<td>The time frame is one year and is renewed every year</td>
</tr>
<tr>
<td>Waiting Period</td>
<td>The sum insured amount can be claimed after the waiting period</td>
<td>The waiting period is 30 – 90 days and is not applicable for accident</td>
</tr>
<tr>
<td>Survival Time</td>
<td>Here the insured has to survive a minimum of 30-60 days after the diagnosis of the critical illness</td>
<td>NO survival clause</td>
</tr>
<tr>
<td>Expiry of the Policy</td>
<td>The policy ceases once the sum insured is paid after a critical illness diagnosis </td>
<td>The policy remains active until the end of the term and can be renewed every year</td>
</tr>
<tr>
<td>Coverage</td>
<td>It covers 36 critical illnesses</td>
<td>It offers coverage for pre and post-hospitalisation expenses </td>
</tr>
</table>
</div>
</section>
<section>
<h5 class=" sectiontitle ">Know the difference</h5>
<h2>
Types of Critical Illness Plans
</h2>
<p>Generally, critical illness plans are similar but there is a slight difference in these plans based on the company which offers them. Critical illness plans can be of two types such as:</p>
<div class="elementcontainer1 ">
<div class="helement help-box">
<h3>Plans offered by life insurance companies</h3>
<p>These plans are offered by life insurers. The term of this plan is longer ranging from 5 years, 10 years or equal to the policy tenure. Thus this plan offers you coverage against critical illnesses for a longer tenure without renewing the plan every year.</p>
</div>
<div class="helement help-box">
<h3>Plans offered by health insurers</h3>
<p>Select the payment option such as internet banking, debit/credit card which is in your name to avail tax benefit</p>
</div>
</div>
</section>
<section>
<h5 class=" sectiontitle ">IMPORTANT TIPS</h5>
<h2>
The Factors That Affect Premium
</h2>
<p>An insurance company will evaluate the risk of you being diagnosed with a critical illness i.e. higher the risk of illness, the higher will be the premium amount. Thus, the premiums of a critical illness insurance plan depend on the following factors:</p>
<div class="elementcontainer1 ">
<div class="helement ">
<h4>Age</h4>
<div class="border-rw"></div>
<p>A person&rsquo;s age is important in determining the premium amount because the younger you are, the cheaper your policy will be. Old age people are more susceptible to critical illness which leads to higher risk and a higher premium. The entry age is between 18-64 years. Hence, buying an insurance plan at an early age will be a smart choice. </p>
</div>
<div class="helement ">
<h4>Health status</h4>
<div class="border-rw"></div>
<p>Your lifestyle habits and health status will determine the premium amount. For instance, if you are obese then you are at a higher risk of diabetes or heart disease. This can result in higher premiums. </p>
</div>
<div class="helement ">
<h4>Family history</h4>
<div class="border-rw"></div>
<p>If heart disease or diabetes runs in your family history then you are more likely to get such ailments due to heredity. This will directly affect the premium and you may find yourself paying higher premiums. </p>
</div>
<div class="helement ">
<h4>Coverage requirements</h4>
<div class="border-rw"></div>
<p>If you opt for more benefits and coverage, you will naturally pay a higher premium. Therefore you need to determine the level of coverage required according to your requirement </p>
</div>
<div class="helement ">
<h4>Standalone Critical Illness Insurance Policy</h4>
<div class="border-rw"></div>
<p>Standalone critical illness policy refers to being a part of only critical illness insurance and not any other type of insurance policy. This type of plan attracts a higher premium when compared to a critical illness insurance rider. The standalone policy offers extensive coverage. According to the experts, it is best to opt for a standalone critical illness insurance plan.</p>
</div>
<div class="helement ">
<h4>Sub-Limits</h4>
<div class="border-rw"></div>
<p>Though the insurance company guarantees lump sum payout certain companies have sub-limits applicable to the sum assured in a critical illness plan. To be more specific if an individual has taken a policy of Rs. 10 lakh sum assured then it might come with a sub-limit of Rs. 3 lakh for the test and Rs. 4.5 lakh for the surgery, so the cover will come up to 7.5 lakh. Depending on the treatment expenses you will have to pay Rs. 2.5 lakh from your pocket. The amount for tests and surgery will vary depending on the company.</p>
</div>
</div>
</section>
<section>
<h5 class=" sectiontitle ">People Who Need </h5>
<h2>
Critical Illness Insurance the Most
</h2>
<p>
With so many types of health insurance, it might be difficult to choose the appropriate plan for yourself. Now let us take a look at who needs critical illness insurance the most?
</p>
<div class="elementcontainer1 ">
<div class="helement help-box">
<h3>A Person with History of Critical Illness</h3>
<p>
Most critical illnesses are genetically transmitted in the family. If a person has a history of critical illness like cancer, heart-related problems, etc running in their family they should opt for a critical illness insurance policy.
</p>
</div>
<div class="helement help-box">
<h3>People Aged 40 and Above</h3> <p>
According to statistics, an individual is more susceptible to critical illness once they reach the age 40 and above. So it is better to get critical illness insurance during the thirties to get extensive coverage.
</p>
</div>
<div class="helement help-box">
<h3>Sole Earner of the Family</h3> <p>
The sole earner of the family needs to safeguard the financial status so that the family does not get severely affected. If the person has to get hospitalised for few months or has to undergo expensive treatments the insurance cover lump sum payout will ensure to provide financial support to the family.
</p>
</div>
<div class="helement help-box">
<h3>People working in a high-pressure work environment </h3>
<p>
have a high chance to develop a critical illness due to the nature of their job. So the employees who feel their job is risky can opt for critical illness insurance.</h3>
</p>
</div>
</div>
</section>
<section>
<h5 class=" sectiontitle ">How to Compare</h5>
<h2>Critical Illness Insurance Plan?</h2>
<p>We have given few tips that you can follow to compare the different policies offered by companies.</p>
<div class="elementcontainer1">
<div class="helement mb-3">
<h4>List down critical illness diseases and benefits </h4>
<div class="border-rw"></div>
<p>Each company offers coverage for different critical illnesses. So you must make a list of the diseases and benefits that you want to get covered and check if the insurance company is offering for those diseases. In this way, it will simplify your search. </p>
</div>
<div class="helement mb-3">
<h4>Premium Payable </h4>
<div class="border-rw"></div>
<p>The higher benefits attract a higher premium amount. Therefore, consciously choose the right plan as per your requirement to avoid the high premium cost </p>
</div>
<div class="helement mb-3">
<h4>Terms and Conditions </h4>
<div class="border-rw"></div>
<p>Before deciding to buy the policy it is very important to understand the clauses, their pros and cons, inclusions and exclusions and other important points before signing the contract. </p>
</div>
<div class="helement mb-3">
<h4>Good Customer Support </h4>
<div class="border-rw"></div>
<p>Good customer support is important in an insurance company. The insurer should provide 24*7 helpline support, relationship manager and email support for your convenience. </p>
</div>
<div class="helement mb-3">
<h4>Claim settlement ratio </h4>
<div class="border-rw"></div>
<p>The claim settlement ratio should be more than 85% for an insurance company. This shows how genuine the company is and how quickly they have settled the previous claims. According to the Insurance Regulatory and Development Authority of India, the insurers have to settle the claim at the earliest. </p>
</div>
<div class="helement mb-3">
<h4>Study the Hidden Clause </h4>
<div class="border-rw"></div>
<p>Always make thorough research for the hidden clause or charges that are applicable in the policy. Most of the companies would attract the customers by saying that they will pay a lump-sum amount in case of critical illness insurance plans. But still, they may have some hidden charges that will come to light only if the policy is read thoroughly and read the feedbacks that are posted on the website by individuals about their experiences. </p>
</div>
<div class="helement mb-3">
<h4>Company financial position </h4>
<div class="border-rw"></div>
<p>The insurance company you choose should have a financial position. This can be studied online before buying a policy. Rating agencies also rate insurance companies on factors like claim settlement, credibility etc. </p>
</div>
</div>
</section>
<section>
<h5 class=" sectiontitle ">In case of Renewal</h5>
<h2>The Critical Illness Renewal Process</h2>
<p>The policy can be renewed online and through an offline method. Most of the leading insurance companies provide online renewal facilities which are easy and hassle-free. Online renewal saves your time and effort of visiting an insurance office and then renewing your plan. The steps to be followed to renew the policy are:</p>
<ul>
<li>
<span>Register</span>
<p>
If you are a first time user you need to register yourself on the insurer’s website with few basic details. You will receive a username and password that has to be kept for further transactions and renewal.
</p>
</li>
<li>
<span>Policy details</span>
<p>
Enter your policy details such as policy number and date of birth to proceed further with the payment process
</p>
</li>
<li>
<span> Payment</span>
<p>
You can select the payment option as per your choice such as internet banking, debit/credit card which is in your name to avail of tax benefit
</p>
</li>
<li>
<span>Receipt</span> <p>
After successful payment save the premium receipt. If you opt to renew offline through your relationship manager then you need to visit their branch to initiate the renewal process.
</p>
</li>
<li>
<span>Points to be remembered </span>
<p>
You need to renew your policy before it gets expired. If you let your policy lapse, you will end up losing benefits and No Claim Bonus (NCB) on the subsequent policy. Some companies provide a grace period for renewal from the expiry date.
</p>
</li>
</ul>
</section>
<section>
<h5 class=" sectiontitle ">In case of Claim</h5>
<h2>
The Critical Illness Claim Process
</h2>
<p>When the time comes to claim the amount you should be aware of the steps involved to make a claim when required. In case the policyholder is diagnosed with one of the critical illnesses mentioned in the policy the insurance company will make a lump sum or staggered payout. Here is a step-by-step guide that one needs to be followed during the claim:</p>
<ol>
<li>
<h3> Claim form</h3>
<p>
The claim form has to be filled by the insured or the family member with complete details of the patient and medical history. Ensure that all the information and the details furnished on the claim form is correct. The claim form can be signed by the insured or if the insured is unable to sign the form, the nominee can sign the claim form before submission.
</p>
</li>
<li>
<h3> Medical reports</h3>
<p>
A certificate from a medical specialist has to be submitted confirming the diagnosis of the illness mentioned in the policy. All other necessary medical reports, doctor’s prescriptions, diagnosis report related to the illness has to be attached with the documents
</p>
</li>
<li>
<h3>Submission of documents</h3>
<p>
The claim form and medical reports have to be sent to the insurance company for processing. The mode of submission will depend on the company’s terms and conditions. They will pay a lump-sum amount to the insured for critical illness plans.
</p>
</li>
</ol>
<div class="smsection">
<h3>
Documents Required at the Time of Claim
</h3>
<ul>
<li>Claim Form</li>
<li>Medical Certificate that confirms the diagnosed critical illness</li>
<li>Certificate from Medical</li>
<li> The practitioner who is attending the patient</li>
<li>Test reports that confirm the diagnosed illness</li>
<li>KYC documents</li>
</ul>
</div>
</section>
<section>
<h2>
How insurejoy.com Can Help You?
</h2>
<p>Now you must have understood the importance of comparing various plans. Now if you are wondering about the best platform to compare these plans then, relax! insurejoy.com is here for your rescue. insurejoy.com is an online platform that lists all the available critical illness plans for you. You can compare and see the features or benefits of the different plans, you can also get the premium quote and also buy the selected plan online. The buying process is simple and hassle-free. Just enter your details, know the available plans, select one, fill the form and you can buy the plan easily. You can also seek assistance from our dedicated experts who will clarify your queries if you have any. Compare the various critical illness insurance plans before you purchase one.</p>
</section>
<section>
<h2>
Frequently Asked Questions:
</h2>
<div class="accordianarea">
<a class="accordion cmdiv ">
Can I claim my sum insured under both health insurance and critical illness insurance for the same disease in the same hospital?</a>
<div class="panelnew cmdiv">
<p>
Yes, it is possible to claim under health and critical illness insurance at the same time. The critical illness will give a lump sum payout and the health insurance will cover the hospitalisation and medical bills.
</div>
<a class="accordion cmdiv"> In the case of floater critical insurance, I have already claimed the amount for a disease, so can I claim the sum insured for my spouse for the same disease under the same policy? </a>
<div class="panelnew cmdiv">
<p> Yes, you can claim provided the amount falls under the limits of the sum insured.</p>
</div>
<a class="accordion cmdiv">Can I get critical illness insurance after being diagnosed with the illness? </a>
<div class="panelnew">
<p> Most of the companies offer insurance before the diagnosis of the illness but in certain cases, the insurance company may provide insurance after being diagnosed with an illness. This will attract a high premium.
</p> </div>
</div>
</section>
</div>
<div class="rightcontent">
<h4>Compare Insurance Plans</h4>
<div class="border-rw"></div>
<ul>
<li><a href="life-insurance.html">Life Insurance</a></li>
<li><a href="term-insurance.html">Term Insurance</a></li>
<li><a href="critical-illness-insurance.html">Critical Illness Insurance</a></li>
<li><a href="health-insurance.html">Health Insurance</a>
<li> <a href="car-insurance.html">Car Insurance</a></li>
<li> <a href="bike-insurance.html">Bike Insurance</a></li>
<li><a href="child-plans.html">Child Plan</a></li>
<li><a href="investment-plans.html">Investment plan</a></li>
<li><a href="pension-plans.html">Pension plan</a></li>
</ul>
</div>
</div>
</main>

<footer class="purple section ">
    <div class="footerarea ">
    <div class="container ">
    <div class="companyintro">
    <!-- <img class="logofooter" ng-click="getIndex('/')" src="images/ijlogo-white.svg" alt="insurejoy.com" width="" height="" /> -->
    <h1 >My Company</h1>
    <!-- <p>4th Floor, N Heights Building, Plot No 12, Software Unit Layout, Madhapur, Hyderabad, Telangana - 500081, India</p>
    <p>
    Licensed by - IRDA/DB838/20 (License category- Direct Broker (Life & General))
    </p>
    <p>
    
    </p> -->
    <p><span> CIN:</span>17000 305 4688 </p>
    <p>For Complaints and Grievances, Please write at
    <a style=" text-decoration: underline; " target="_blank " href="#"><span class="__cf_email__">Shivamahale23@gmail.com</span></a>
    </p>
    <h4>We'd love to hear from you</h4>
    </div>
    <div class="contactarea">
    <div class=" contbox">
    <a ng-click="footer( 'Email') " href="#">
    <svg class="animated " role="img" aria-label="help">
    <use xlink:href="images/sprite.svg#email"></use>
    </svg>
    <span><span class="__cf_email__" data-cfemail="">Shivamahale23@gmail.com</span></span>
    </a>
    </div>
    <div ng-click="footer( 'Mobile') " class="contbox " tabindex="0 ">
    <svg class=" animated " role="img" aria-label="call">
    <use xlink:href="images/sprite.svg#call"></use>
    </svg>
    <span>1700 409 0966</span>
    </div>
    <div class="contbox">
    <a href="https://www.facebook.com" target="_blank " ng-click="footer( 'Facebook') ">
    <svg class="animated " role="img" aria-label="Facebook">
    <use xlink:href="images/sprite.svg#facebook"></use>
     </svg>
    </a>
    <a href="#" target="_blank " ng-click="footer( 'Twitter') " role="img" aria-label="Twitter">
    <svg class=" animated ">
    <use xlink:href="images/sprite.svg#twitter"></use>
    </svg>
    </a>
    <a href="#" target="_blank " ng-click="footer( 'Linkedin') ">
    <svg class=" animated " role="img" aria-label="Linkedin">
    <use xlink:href="images/sprite.svg#linkedin"></use>
    </svg>
    </a>
    <a href="#" target="_blank " ng-click="footer( 'Twitter') " style="visibility: visible; ">
    <svg class="animated " role="img" aria-label="youtube">
    <use xlink:href="images/sprite.svg#youtube"></use>
    </svg>
    </a>
    <a href="#" target="_blank " ng-click="footer( 'Linkedin') " style="visibility: visible; ">
    <svg class=" animated" role="img" aria-label="pinterest">
    <use xlink:href="images/sprite.svg#pinterest"></use>
    </svg>
    </a>
    <a href="#" target="_blank " ng-click="footer( 'Linkedin') " style="visibility: visible; ">
    <svg class=" animated" role="img" aria-label="instagram">
    <use xlink:href="images/sprite.svg#instagram"></use>
    </svg>
    </a>
    </div>
    </div>
    <div class="mainlinkarea">
    <div class="linkbox ">
    <h5 class="heading5 ">Company</h5>
    <ul>
    <li>
    <a href="index.html" ng-click="footer( 'Home') ">Home</a>
    </li>
    <li>
    <a href="about.html" ng-click="footer( 'About Us') ">About Us</a>
    </li>
    <li>
    <a href="careers.html" ng-click="footer( 'Careers') ">Careers</a>
    </li>
    <li>
    <a href="contact.html" ng-click="footer( 'Contact Us') ">Contact Us</a>
    </li>
    </ul>
    </div>
    <div class="linkbox ">
    <h5 class="heading5 ">Library</h5>
    <ul>
    <li>
    <a href="https://blog.insurejoy.com/" ng-click="footer( 'Insurance Knowledge') ">Insurance Blog</a>
    </li>
    <li>
    <a href="partners.html" ng-click="footer( 'Insurance Companies') ">Our Partners</a>
    </li>
    <li>
    <a href="frequently-asked-questions.html" ng-click="footer( 'FAQs') ">FAQs</a>
    </li>
    </ul>
    </div>
    <div class="linkbox">
    <h5 class="heading5 " ng-click="openLife();footer( 'Life') ">Life Insurance</h5>
    <ul>
    <li>
    <a href="term-insurance.html" ng-click="footer( 'Term') ">Term</a>
    </li>
    <li>
    <a href="child-plans.html" ng-click="footer( 'Child') ">Child</a>
    </li>
    <li>
    <a href="investment-plans.html" ng-click="footer( 'Investment') ">Investment</a>
    </li>
    <li>
    <a href="pension-plans.html" ng-click="footer( 'Pension') ">Pension</a>
    </li>
    </ul>
    </div>
    <div class="linkbox">
    <h5 class="heading5 ">General Insurance</h5>
    <ul>
    <li>
    <a href="car-insurance.html" ng-click="footer( 'Car Insurance') ">Car Insurance</a>
    </li>
    <li>
    <a href="bike-insurance.html" ng-click="footer( 'Bike Insurance') ">Bike Insurance</a>
    </li>
    <li>
    <a href="health-insurance.html" ng-click="footer( 'Health Insurance') ">Health Insurance</a>
    </li>
    <li>
    <a href="critical-illness-insurance.html" ng-click="footer( 'Critical Illness') ">Critical Illness</a>
    </li>
    </ul>
    </div>
    </div>
    <div class="linkarea">
    
    <a href="grievance-redressal.html">Grievance Redressal</a>
    <a href="terms-and-conditions.html" ng-click="footer( 'Terms &amp; Conditions') ">Terms &amp;
    Conditions</a>
    <a href="privacy-policy.html" ng-click="footer( 'Privacy Policy') ">Privacy Policy</a>
    <a href="legal.html" ng-click="footer( 'Legal') ">Legal</a>
    </div>
    <!-- <div class="payoptionarea ">
    <span>Payment Methods</span>
    <svg>
    <use xlink:href="images/sprite.svg#paymentops"></use>
    </svg>
    </div>
    <div class="disclaimersarea">
    <p>
    <span> DISCLAIMER:</span> <span>
    Kindly note that insurejoy.com can share the particulars of clients/visitors with the insurers for the purpose of soliciting
    insurance policies. Insurance is the subject matter of Solicitation. For more details on risk factors, terms and conditions please read
    sales brochure carefully before concluding a sale. Tax benefits are subject to changes in taxation laws. Terms and Conditions shall apply
    for standard insurance plans. Product Information is authentic and solely based on the information received from the insurer
    </span>
    </p> -->
    <span>
    Copyright 2022 MyCompany.com. All Rights Reserved.
    </span>
    </div>
    </div>
    </div>
    </footer><link href="sass/animate.min.css" rel="stylesheet" type="text/css" />
<script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="5211f069123e1825c448f538-text/javascript" src="insurejoy-lib/external.min.js"></script>

<script type="5211f069123e1825c448f538-text/javascript">
        function openNav() {
            document.getElementById("myNav").style.height = "100%";
        }

        function closeNav() {
            document.getElementById("myNav").style.height = "0%";
        }
    </script>



<script src="cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="5211f069123e1825c448f538-|49" defer=""></script><script defer src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" data-cf-beacon='{"rayId":"7425546d5b658976","token":"21d39aec2919455496f3629a9add23fe","version":"2022.8.0","si":100}' crossorigin="anonymous"></script>
</body>

<!-- Mirrored from www.insurejoy.com/critical-illness-insurance by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 29 Aug 2022 12:36:36 GMT -->
</html>