<!DOCTYPE HTML>
<html xmlns  ng-app="App" ng-controller="MainController" ng-init="init();$root.scrollhide='bodymain';showmainloader=true;" ng-class="$root.scrollhide" lang="en" xml:lang="en">

<head>

<script type="df1943c9606e0f3bc4c5fc47-text/javascript">
        if (navigator.userAgent.indexOf("Chrome-Lighthouse") == -1) {
            // Google Tag Manager as Payload for all 3rd-party JS
            (function (w, d, s, l, i) {
                w[l] = w[l] || []; w[l].push({
                    'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
                }); var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                        '../www.googletagmanager.com/gtm5445.html?id=' + i + dl; f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-WJXJGK2');
            // please replace GTM-XXXXXXXXXX with own GTM ID
        }
    </script>

<title>Pension Plans </title>
<meta name="description" content="Pension Plan helps to secure your retirement and create wealth. Compare/Buy best Traditional/Ulip pension plans online and plan for your dream retirement." />
<link rel="shortcut icon" href="images/insurejoy-favicon.png" type="image/png" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
<link href="sass/productsass.css" rel="stylesheet" type="text/css" />
<style>
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body>

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WJXJGK2" height="0" width="0" style="display: none; visibility: hidden;"></iframe></noscript>

<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="hidden">
<symbol viewBox="0 0 451.846 451.847" id="arrowright">
<path d="M345.441 248.292L151.154 442.573c-12.359 12.365-32.397 12.365-44.75 0-12.354-12.354-12.354-32.391 0-44.744L278.318 225.92 106.409 54.017c-12.354-12.359-12.354-32.394 0-44.748 12.354-12.359 32.391-12.359 44.75 0l194.287 194.284c6.177 6.18 9.262 14.271 9.262 22.366 0 8.099-3.091 16.196-9.267 22.373z"></path>
</symbol>
<symbol viewBox="0 0 486.988 486.988" id="home">
<path d="M16.822 284.968h39.667v158.667c0 9.35 7.65 17 17 17h116.167c9.35 0 17-7.65 17-17V327.468h70.833v116.167c0 9.35 7.65 17 17 17h110.5c9.35 0 17-7.65 17-17V284.968h48.167c6.8 0 13.033-4.25 15.583-10.483 2.55-6.233 1.133-13.6-3.683-18.417L260.489 31.385c-6.517-6.517-17.283-6.8-23.8-.283L5.206 255.785c-5.1 4.817-6.517 12.183-3.967 18.7 2.55 6.516 8.783 10.483 15.583 10.483zm231.2-217.6l181.333 183.6h-24.367c-9.35 0-17 7.65-17 17v158.667h-76.5V310.468c0-9.35-7.65-17-17-17H189.656c-9.35 0-17 7.65-17 17v116.167H90.489V267.968c0-9.35-7.65-17-17-17H58.756l189.266-183.6z"></path>
</symbol>
<symbol viewBox="0 0 451.847 451.847" id="arrowd">
<path fill=" #f58634x" d="M225.923 354.706c-8.098 0-16.195-3.092-22.369-9.263L9.27 151.157c-12.359-12.359-12.359-32.397 0-44.751 12.354-12.354 32.388-12.354 44.748 0l171.905 171.915 171.906-171.909c12.359-12.354 32.391-12.354 44.744 0 12.365 12.354 12.365 32.392 0 44.751L248.292 345.449c-6.177 6.172-14.274 9.257-22.369 9.257z"></path>
</symbol>
</svg>
<header ng-class="$root.showHeaderClass">

<nav class="navproduct">

<div class="leftarea">
<svg class="hamburger" onclick="if (!window.__cfRLUnblockHandlers) return false; openNav()" data-cf-modified-df1943c9606e0f3bc4c5fc47-="">
<use xlink:href="images/sprite.svg#hamburger"></use>
</svg>
<svg class="logo" style="position: relative; z-index: 0;" ng-click="getIndex('/')">
<!-- <use xlink:href="images/sprite.svg#ijlogo-blue"></use> -->
<h1>MY COMPANY</h1>
</svg>
</div>
<div class="rightarea">
<ul ng-if="device == 'Desktop'">
<li><a class="dropbtn" href="index.html" ng-click="header('Home')">Home</a></li>
<li><a class="dropbtn" href="about.html" ng-click="header('About Us')">About</a></li>
<li>
<div class="dropdown">
<a class="dropbtn" ng-click="openLife();">
Life
<svg>
<use xlink:href="images/sprite.svg#arrowd"></use>
</svg>
</a>
<div class="dropdown-content">
<a class="limr1" href="term-insurance.html" ng-click="header('Term')">Term</a>
<a class="limr1" href="child-plans.html" ng-click="header('Child')">Child</a>
<a class="limr1" href="investment-plans.html" ng-click="header('Investment')">Investment</a>
<a class="limr1" href="pension-plans.html" ng-click="header('Pension')">Pension</a>
</div>
</div>
</li>
<li>
<div class="dropdown">
<a class="dropbtn">
Health
<svg>
<use xlink:href="images/sprite.svg#arrowd"></use>
</svg>
</a>
<div class="dropdown-content">
<a class="limr1" href="health-insurance.html" ng-click="header('Health')">Health</a>
<a class="limr1" href="critical-illness-insurance.html" ng-click="header('Critical Illness')">Critical Illness</a>
</div>
</div>
</li>
<li><a class="dropbtn" href="car-insurance.html" ng-click="header('Car')">Car</a></li>
<li><a class="dropbtn" href="bike-insurance.html" ng-click="header('Bike')">Bike</a></li>
<li class="mobnumber">Service : <span>1700 468 7699</span></li>
</ul>
</div>
</nav>
<div id="myNav" class="overlay">
<a href="javascript:void(0)" class="closebtn" onclick="if (!window.__cfRLUnblockHandlers) return false; closeNav()" data-cf-modified-df1943c9606e0f3bc4c5fc47-="">&times;</a>
<div class="overlay-content">
<a class="" href="about.html" ng-click="header('About Us')">About Us</a>
<a class="" href="term-insurance.html" ng-click="header('Term')">Term Insurance</a>
<a class="" href="child-plans.html" ng-click="header('Child')">Child Plans</a>
<a class="" href="investment-plans.html" ng-click="header('Investment')">Investment Plans</a>
<a class="" href="pension-plans.html" ng-click="header('Pension')">Pension Plans</a>
<a class="" href="health-insurance.html" ng-click="header('Health')">Health Insurance</a>
<a class="" href="critical-illness-insurance.html" ng-click="header('Critical Illness')">Critical Illness Cover</a>
<a class="" href="car-insurance.html" ng-click="header('Car')">Car Insurance</a>
<a class="" href="bike-insurance.html" ng-click="header('Bike')">Bike Insurance</a>
<a href="contact.html">Contact Us</a>
<a> <span class="cnstyle">Service : <span>1700 468 7699</span></span></a>
</div>
</div>
</header>
<main>
<section class="productbanner">
<div class="container">
<h1><span>Pension Plans </span></h1>
<h5> <span>Plan and Secure Your Future with </span> Pension plan, which is an investment tool that will help you to save enough money for your post-retirement life</h5>
<div class="formapararea">
<div class="pointers leftprt">
<div class="pointstyle">
<svg>
<use xlink:href="images/sprite.svg#tax"></use>
</svg>
<p class="txt">Save Tax up to 45000</p>
</div>
<div class="pointstyle"></div>
<div class="pointstyle">
<svg>
<use xlink:href="images/sprite.svg#support"></use>
</svg>
<p class="txt">Guaranteed Claims Assistance </p>
</div>
</div>
<div class="productpagebox">

<div class=" col-md-12 col-sm-12 col-xs-12 elementcontainer nopad" ng-cloak ng-show="pensionpopup">
<p class="felement text-center mb-2"> Get <span>Live Quotes</span> From Top Insurance Companies</p>
<div class="helement mt-2 mb-3">
<h6>
Gender
</h6>
<div class="inputcontainer flcenter-sb">
<label class="gen-label"></label>
<a ng-class="maleclass" ng-click="checkgender(0)">Male</a>
<a ng-class="femaleclass" ng-click="checkgender(1)">Female</a>
</div>
</div>
<div class="helement mt-2 mb-3">
<h6> Date of birth </h6>
<div class="inputcontainer flcenter-sb">
<input id="Tel19" numbers-only type="tel" autocomplete="off" ng-model="IGdate" class="dtinput" focus-me="dd1" maxlength="2" placeholder="DD" ng-blur="testdate(1,1)" ng-keyup="IGdateKey(1,$event)" />
<input id="Tel20" numbers-only type="tel" autocomplete="off" ng-model="IGmonth" class="dtinput" focus-me="dd2" maxlength="2" placeholder="MM" ng-blur="testdate(2,1)" ng-keyup="IGdateKey(2,$event)" />
<input id="Tel21" numbers-only type="tel" autocomplete="off" ng-model="IGyear" class="yearinput" focus-me="dd3" maxlength="4" placeholder="YYYY" ng-blur="testdate(3,1)" ng-keyup="IGdateKey(3,$event)" />
<span ng-if="dateerror" ng-cloak class="errorclass erposr">
Enter Correct Age(Min 18 to 65 yrs)
</span>
</div>
</div>
<div class="helement mt-2 mb-3">
<h6>
I want to invest
</h6>
<div class=" inputcontainer mobinput">
<input id="invamount" type="tel" autocomplete="off" numbers-only maxlength="8" placeholder="Eg. 5000" ng-model="txtActualIncome" class="inputarea" ng-blur="nonTermvalidate(txtActualIncome,'pension')" name="pensionform" commaseparator>
<label> </label>
<span ng-cloak ng-show="incomeerror" class=" errorclass erposr ">{{annualErrorMessage}}</span>
<div class=" paymode">
<input id="pensionpaymode" class="inputarea" type="text" autocomplete="off" ng-model="pensionpayItem" readonly="readonly" required="" ng-click="clickItem(1,'pensionpaymode')" ng-keyup="clickItem(1,'pensionpaymode')">
<svg ng-click="clickItem(1,'pensionpaymode')" ng-keyup="clickItem(1,'pensionpaymode')">
<use xlink:href="#arrowd"></use>
</svg>

<ul class="dd-content" off-click="showPaymodeList=false;" off-click-activator="showPaymodeList" ng-cloak ng-show="showPaymodeList">
<li tabindex="0" ng-repeat="item in investincome" ng-click="clickItem(item,'pensionpaymode')" ng-enter="clickItem(item,'pensionpaymode')">
{{item.text}}
</li>
</ul>
</div>
</div>
</div>
<div class="helement mt-2 mb-3">
<h6>
Mobile No.
</h6>
<div class="inputcontainer">
<input id="usermob" type="tel" autocomplete="off" required="" numbers-only maxlength="10" ng-model="userMobile" ng-blur="checkmoberror(userMobile)" class="inputarea" aria-invalid="false" />
<label for="usermob">Enter Mobile No.</label>
<span ng-show="mobileerror" class="errorclass erposr ">Please enter valid mobile no.</span>
<span ng-cloak ng-show="wrongMobile" class="red small-text ">{{wrongMobilemsg}}</span>
<span ng-cloak class="red small-text ">{{leadCreationExceedMsg}}</span>
</div>
</div>
<div class="felement text-center mt-3 mb-1">
<button ng-click="getpensionquote()" class="getquotesbt goToQuotesBtn" type="button">
<span ng-show="!showbtnpensionloader" ng-disabled="showbtnpensionloader"> Get Live Quotes</span>
<div class="spinnerw" ng-cloak ng-show="showbtnpensionloader">
<span></span>
<span></span>
<span></span>
</div>
</button>
</div>
<div class="felement ">
<span class="consentms">We respect your privacy and we hate spam calls as much as you do. We will communicate with you only to help you in choosing the right insurance policy.</span>
</div>
</div>
<div ng-cloak ng-show="showotpbox" class="col-md-12 col-sm-12 col-xs-12  userloginarea ">
<h2 class="">OTP</h2>
<h5>
Enter 4-digit code sent to <br />your mobile no. <span ng-bind="userMobile ">
</span> <a ng-click="UpdateMobileNo()" class="updatenum " style="clear: both; ">Edit</a>
</h5>
<div class="felement text-center mt-3 mb-1 ">
<div class="otparea formar ">
<input type="tel" autocomplete="off" data-ng-model="userOTP0" ng-keyup="otpKey(0, $event)" focus-me="OTP0" value="" numbers-only maxlength="1" minlength="1" class="otpcontainer">
<input type="tel" autocomplete="off" data-ng-model="userOTP1" ng-keyup="otpKey(1, $event)" focus-me="OTP1" value="" numbers-only maxlength="1" minlength="1" class="otpcontainer">
<input type="tel" autocomplete="off" data-ng-model="userOTP2" ng-keyup="otpKey(2, $event)" focus-me="OTP2" value="" numbers-only maxlength="1" minlength="1" class="otpcontainer">
<input type="tel" autocomplete="off" data-ng-model="userOTP3" ng-keyup="otpKey(3, $event)" focus-me="OTP3" value="" numbers-only maxlength="1" minlength="1" class="otpcontainer">
</div>
</div>
<div class="felement text-center " style=" height:14px;">
<label ng-show="wrongotpmsgshow" class="errorotp ng-binding">Please enter correct OTP</label>
</div>
<div class="felement text-center mt-3 mb-2 ">
<div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12  text-center mrgtbn">
<button ng-cloak ng-show="showotpbox" data-ng-click="submitted=true;submitleadform(0,2)" class="getquotesbt " type="button">
<span ng-show="!showbtnleadloader" ng-disabled="showbtnleadloader">Verify</span>
<span class="spinnerw" ng-cloak ng-show="showbtnleadloader">
<span></span>
<span></span>
<span></span>
</span>
</button>
</div>
</div>
<div class="felement text-center mt-2 mb-3 ">
<div class="resarea">
<span class="resendotpdis" ng-cloak ng-show="!(showotpbox && showResend)">
Resend OTP <span ng-show="showotpbox && !showResend" class="timertext"> in <span ng-bind="resendtime"></span> sec.</span>
</span>
<span ng-click="otpFn(2)" class="resendotp" ng-cloak ng-show="showotpbox && showResend">Resend OTP</span>
</div>
</div>
</div>
</div>
<div class="pointers rightprt">
<div class="pointstyle"></div>
<div class="pointstyle">
<svg>
<use xlink:href="images/sprite.svg#mbag"></use>
</svg>
<p class="txt">Tax Free Returns</p>
</div>
<div class="pointstyle"></div>
</div>
</div>
</div>
</section>
<div class="container contentarea">
<div class="leftcontent">
<div class="breadcrumbarea">
<a ng-click="getIndex('/')" href="#">
<svg><use xlink:href="#home"></use></svg> Home
</a>
<span>
<svg><use xlink:href="#arrowright"></use></svg>
Pension Plans
</span>
</div>
<section>
<h5 class=" sectiontitle "> Pick Of The Year </h5>
<h2>
Most Popular Retirement Pension Plans
</h2>
<p>Here we will talk about some important points about how to plan for your retirement? What are the best retirement plans available?</p>
<h3>What is a Pension Plan?</h3>
<p>
Your savings are more important than your earnings. A good financial formula includes<br>
<strong>Income – Savings = Your Expense</strong><br>
Your savings are going to help you in the long run. So when is the right time to start earning? Your savings for retirement should start when you start getting your first salary. A retirement planning should have the following features
</p>
<ul>
<li>Start your retirement savings early to spend your retirement peacefully</li>
<li>Choose a plan according to your needs and rising inflation</li>
<li>Save enough amount for your retirement</li>
<li>Keep a track of your plan</li>
</ul>
<p>Several companies offer various pension plans that help you to save money for your golden years of retirement. </p>
</section>
<section>
<h5 class=" sectiontitle "> Benefits </h5>
<h2>
How Does a Pension Plan Help You?
</h2>
<ul>
<li>A Pension plan is like an investment tool that will help you to save enough money  for your <strong><em>post-retirement life</em></strong></li>
<li>Just like term plan insurance premiums are to be paid for the retirement plan and once the term of the plan is completed, the insurer will pay you a monthly income until the fixed number of years as per the policy terms </li>
<li>This amount will help you meet your financial requirements </li>
<li>The amount is also paid as lumpsum </li>
<li>This ensures that you have a steady income flow during your retired days and there will not be any necessity to depend on others for your monetary needs </li>
<li>The retirement plan amount will help you manage your day to day expenses and also manage your medical emergencies expenses without depending on anyone </li>
</ul>
</section>
<section>
<h5 class=" sectiontitle "> When and How? </h5>
<h2>
Eligibility To Buy Pension Plan
</h2>
<ul>
<li><strong>Age of Entry: </strong>The entry age for a pension plan varies based on different schemes, but generally any resident or non-resident individual of India aged 18 years are eligible to buy the plan.<strong></strong></li>
<li><strong>Vesting Age: </strong>The vesting age of the policyholder means at what age they start getting their pension income. The vesting age may start from 40 years or the age that the policyholder wishes to get.<strong></strong></li>
</ul>
</section>
<section>
<h5 class=" sectiontitle "> Documents Required </h5>
<h2>
To Buy Pension Plans
</h2>
<p>The following are the documents needed to buy a pension plan</p>
<ul>
<li>Photo Identity proof</li>
<li>Pan card</li>
<li>Aadhar card</li>
<li>Address proof</li>
<li>Birth Proof</li>
<li>Crossed cheque of the first premium</li>
</ul>
</section>
<section>
<h5 class=" sectiontitle ">Quick Compare </h5>
<h2>
10 Most Popular Pension Plans in India for 2022
</h2>
<div class="tablearea">
<table class="table table-bordered table-hover">
<thead>
<tr>
<th>Pension Plans (Type Of Plan)</th>
<th>Entry Age </th>
<th>Vesting Age </th>
<th>Policy Term </th>
<th>Annual Premium </th>
<th>Features </th>
</tr>
</thead>
<tr>
<td>HDFC Life Personal Pension Plan <span> (Deferred Pension Plan)</span></td>
<td>18 – 65 yrs</td>
<td>
Min- 55 yrs<br>
Max- 75 yrs
</td>
<td>
Min-10 yrs<br>
Max-40 yrs
</td>
<td>As per the policy term</td>
<td>
<ul>
<li>The assured benefit of 101% of all premiums paid to date</li>
<li>Sum assured plus accrues bonus</li>
</ul>
</td>
</tr>
<tr>
<td>HDFC Life Click 2 Retire Pension Plan
<span>(Unit Linked Pension scheme)</span></td>
<td>18 – 65 yrs</td>
<td>75 yrs</td>
<td>10/15/35 yrs</td>
<td>Rs. 24,000 per year</td>
<td>
<ul>
<li>The death benefit of 105% of the total premium paid to date.</li>
</ul>
</td>
</tr>
<tr>
<td>ICIC Pru Easy Retirement Plan <span>(Unit Linked Insurance Plan)</span></td>
<td>35 – 75 year</td>
<td>
Min- 45 yrs<br>
Max- 80 yrs
</td>
<td>10 – 30 yrs</td>
<td>Rs. 48,000</td>
<td>
<ul>
<li>Assured benefits of 101% o of the total premium paid to date.</li>
<li>Death benefits is 105% of the total premium paid to date.</li>
</ul>
</td>
</tr>
<tr>
<td>ICIC Pru Guaranteed Pension Plan <span>(A Deferred Annuity Plan)</span></td>
<td>35 – 85 yrs</td>
<td>
Min- 45 yrs<br>
Max- 70 yrs
</td>
<td>10 – 30 yrs</td>
<td>Min- 12,000</td>
<td>
<ul>
<li>11 annuity options</li>
<li>Top up options</li>
</ul>
</td>
</tr>
<tr>
<td>TATA AIA Life Easy Retire <span>(Immediate annuity plan)</span></td>
<td>21 – 80 yrs</td>
<td>Till death</td>
<td>10 – 30 yrs</td>
<td>Rs. 50,000 p.a.</td>
<td>
<ul>
<li>Return of purchase price</li>
<li>Single premium payment</li>
</ul>
</td>
</tr>
<tr>
<td>Aditya Birla Sun Life Empower Pension Plan <span>( Unit Linked Insurance Plan)</span></td>
<td>25 – 70 yrs</td>
<td>80 yrs</td>
<td>5 – 30 yrs</td>
<td>Min Rs. 18,000 p.a.</td>
<td>
<ul>
<li>Sum assured plus accrues bonus</li>
 <li>Offers tax benefit</li>
</ul>
</td>
</tr>
<tr>
<td>Bajaj Allianz LongLife Goal Pension Plan <span>(Unit Linked Insurance Plan)</span></td>
<td>18 – 65 yrs</td>
<td>99 yrs</td>
<td>99 – entry age</td>
<td>Min Rs 60,000</td>
<td>
<ul>
<li>Offers tax benefit</li>
</ul>
</td>
</tr>
<tr>
<td>Exide Life Golden yrs Retirement Plan<span>(Guaranteed period annuity)</span></td>
<td>18 – 65 yrs</td>
<td>
Min- 55 yrs<br>
Max- 75 yrs
</td>
<td>10 – 42 yrs</td>
<td>Rs. 24,000 p.a.</td>
<td>
<ul>
<li>Loyalty benefit</li>
<li>105% gross premium paid including top-up premium till death</li>
</ul>
</td>
</tr>
<tr>
<td>SBI Life Saral Pension Plan <span>(Immediate annuity product)</span></td>
<td>18 – 65 yrs</td>
<td>
Min- 45 yrs<br>
Max- 70 yrs
</td>
<td>
Regular pay 10-40 yrs<br>
Single pay 5- 40 yrs
</td>
<td>Rs. 75,000</td>
<td>
<ul>
<li>It provides regular income with a return of 100% purchase price</li>
<li>Eligible for tax benefit</li>
</ul>
</td>
</tr>
<tr>
<td>LIC New Jeevan Akshay Pension Scheme <span>(Immediate annuity plan)</span></td>
<td>30 – 85 yrs</td>
<td>N/A</td>
<td>N/A</td>
<td>Depends on the purchase price and entry age</td>
<td>
<ul>
<li>Single premium policy</li>
</ul>
</td>
</tr>
</table>
</div>
</section>
<section>
<h5 class=" sectiontitle "> UNDERSTANDING THE BASICS </h5>
<h2>
Why You Need Pension Plan
</h2>
<div class="elementcontainer1 ">
<div class="helement ">
<h4>
1. Government Pension And PPF Are Not Adequate
</h4>
<p>
Statistics show that more than 91% of retired people are financially dependent on their
children. And the rest of the retired people have hardly met their day's needs by the government
pension or aid from their previous company. Older people are more prone to get sick and may need
medical care which could be quite expensive. So keeping these points in mind it is important to
plan one’s retirement in a proper way by investing in a good retirement plan.
</p>
</div>
<div class="helement ">
<h4>
2.	Increase in Human Life Expectancy
</h4>
<p>
According to WHO the average human life expectancy is 68.8 years. With the improving medical facilities, the average life expectancy of the people has increased and so is the medical expense. Medical expenses are expected to double due to the rise in inflation. So the best way to cope with inflation and manage the health-related expenses post-employment is through a retirement plan.
</p>
</div>
<div class="helement ">
<h4>
3.	Being Self-Dependent
</h4>
<p>
As people are moving towards nuclear families, they are on their own and are financially independent. So the best way to be self-dependent after retirement is by investing in a retirement plan. Having a retirement plan will provide financial assistance during retirement.
</p>
</div>
<div class="helement ">
<h4>
4.	Achieve your Dream and Goals
</h4>
<p>
Are you striving hard to achieve your dreams? Most of us strive to fulfil our children's dreams and spend a whole lot of money for them, but this is done at the cost of sacrificing our life goals. Consider saving for yourself to live comfortably and also fulfil your child's dream at ease by investing in insurance plans.
</p>
</div>
<div class="helement ">
<h4>
5.	Guaranteed Income
</h4>
<p>
The pension plans provide generate guaranteed income. As per the IRDAI rule, the insurance companies should provide a non-zero return on all premiums. Thus the insurance companies are bound to offer a guaranteed income of 1% at the least of the total premium paid.
</p>
</div>
</div>
</section>
<section>
<h5 class=" sectiontitle "> Know before you buy</h5>
<h2>
Types Of Pension Plan
</h2>
<p>
The pension plan is classified into various
categories to cater for the needs of the insurance seekers. These plans are
classified based on the plan structure and benefits. The following are the
types of pension plans
</p>
<div class="elementcontainer1 ">
<div class="helement ">
<ol>
<li>Deferred Annuity</li>
<li>Immediate Annuity</li>
<li>Annuity Certain</li>
<li>With Cover Pension Plan & Without Cover Pension Plan</li>
<li>Life Annuity</li>
<li>National Pension Scheme</li>
<li>Pension Funds</li>
<li>Guaranteed Period Annuity Plan</li>
<li>Whole Life ULIPs</li>
<li>Defined Benefit</li>
<li>Defined Contribution </li>
</ol>
</div>
<div class="helement "><a href="Images/home_images/type-of-Pension-plans.svg" target="_blank">
<img src="Images/home_images/type-of-Pension-plans.svg" title="Type of Pension Plans" alt="Pension Plans" class="img-responsive primgwidth">
</a></div>
</div>
<div class="tablearea">
<table class="table table-bordered table-hover">
<thead>
<tr>
<th>Plan Type </th>
<th>Features </th>
</tr>
</thead>
<tr>
<td>Deferred Annuity</td>
<td>It refers to a single premium payment or systematic premium payment and the money is accumulated. After completion of the policy tenure, the pension is provided. It offers tax benefits. The amount is locked and partial withdraw is not allowed.</td>
</tr>
<tr>
<td>Immediate Annuity</td>
<td>Only lump sum investment is allowed. The pension will be provided instantly after paying the premium. The premium paid has tax benefits. The nominee receives the pension amount in case of the death of the policyholder.</td>
</tr>
<tr>
<td>With Cover Pension Plan And Without Cover Pension Plan</td>
<td>
Under With Cover Plan, they have a life cover option. The nominee receives a lump sum amount as the death benefit after the demise of the policyholder. The life cover amount is not large as most of the premium paid goes towards growing the corpus.<br>
Under without cover plan, there is no life cover to the policyholder. In case of the policyholder&rsquo;s demise, the nominee will get the corpus.
</td>
</tr>
<tr>
<td>Annuity Certain</td>
<td>Here the annuity amount is paid to the annuitant for a specific number of years. The insured can choose the number of years (eg: 65-70 years). The beneficiary will receive the amount after the demise of the insured.</td>
</tr>
<tr>
<td>Life Annuity</td>
<td>Here the pension amount is given to the insured until death and if the option &lsquo;with spouse&rsquo; is chosen then the pension will be received by the nominee</td>
</tr>
<tr>
<td>National Pension Saving Scheme</td>
<td>This is a Government based scheme. It was introduced by the government to secure an individual&rsquo;s financial status after retirement. As per the policyholders preference the money is invested in equity and debt funds to generate returns for the money. The insured can withdraw 60% amount on retirement and the rest 40% is used to purchase an annuity.</td>
</tr>
<tr>
<td>Pension Funds</td>
<td>This plan offers better returns upon maturity. The Pension Fund Regulatory and Development Authority PFRDA has authorised 6 companies as fund managers to manage Pension Funds. </td>
</tr>
<tr>
<td>Guaranteed Period Annuity Plan</td>
<td>The annuity is disbursed for a period of 5/10/15/20 years, whether or not the insured survives the policy period</td>
</tr>
<tr>
<td>Whole Life ULIPs</td>
<td>Here the amount invested stays untouched for the whole life and upon retirement partial withdrawal can be made. The income obtained is tax-free. Additional withdrawn is allowed whenever required by the insured.</td>
</tr>
<tr>
<td>Defined Benefit</td>
<td>This type of benefit is practised in an organisation where the employer also contributes to your pension amount. </td>
</tr>
<tr>
<td>Defined Contribution</td>
<td>Here the income of retirement is not guaranteed. Here the both you and your employer can contribute to the pension plan. On retirement, the accumulated amount relies on the contribution made. This retirement cash can be utilised to produce a retirement remuneration.</td>
</tr>
</table>
</div>
</section>
<section>
<h5 class=" sectiontitle "> Always Remember </h5>
<h2>
Key Features of Pension Plan
</h2>
<p>Pension Plans are specifically designed with distinctive features, especially meant for people who wish to plan for retirement and do not wish to depend on anyone for financial needs post-retirement years.</p>
<p>Let us discuss the important features of the pension plan.</p>
<div class="elementcontainer1">
<div class="helement">
<h3>Sum Assured </h3>
<p>
The Sum assured is the most important feature of a pension plan. The sum assured is provided as the death benefit or maturity benefit. The sum assured amount can be 10 times the annual premium amount or a lump sum fund value of the policy bought. The sum assured depends on the type of pension plan taken. If there is no sum assured then it is considered as a pure pension plan instead of an insurance plan with a pension scheme.
</p>
</div>
<div class="helement">
<h3> Accidental Death Benefit Immediate and Deferred Annuity </h3>
<p>
Most of the pension plans come with an annuity attached: It can be deferred or immediate annuity. Based on the requirement of the policyholder the type of annuity can be chosen. The immediate annuity pays the pension plan immediately after receiving the lump sum premium. In the case of a deferred annuity, the insurer starts paying after a few years. The key advantage of this feature is that you can choose as per your needs.
</p>
</div>
<div class="helement">
<h3>Accumulation of Funds and Payment Period</h3>
<p>
The Accumulation period is where the insured pays regular premiums to the insurance company. You can either pay the premium in a lump- sum or in periodic intervals. The invested premium gets accumulated and provides financial security for the future. The accumulation period is the time frame between the start date of investment until the end date. This policy tenure determines the amount of money accumulated.
</p>
</div>
<div class="helement">
<h3>Surrender Value of Pension Plan</h3>
<p>
The surrender value refers to the amount payable by the insurance company to the policyholder if they decide to surrender the policy before its maturity date. In this case, the policyholder will lose all the benefits.
</p>
</div>
<div class="helement">
<h3>Vesting Age</h3>
<p>
The vesting age refers to the age at which the policyholder starts receiving their pension amount. The vesting age differs from policy to policy. It usually ranges from 50 years or 70 years or even 90 years.
</p>
</div>
</div>
</section>
<section>
<h5 class=" sectiontitle "> Benefits of</h5>
<h2>
Having A Pension Plan!
</h2>
<p>Investing in a good Pension plan will help you stay financially independent post-retirement. Pension plans have to be studied carefully to help you get the maximum benefits in your old age without worrying over money matters.</p>
<p>
insurejoy.com presents the benefits of a pension plan that make life trouble-free and comfortable after retirement:
</p>
<div class="accordianarea">
<a class="accordion cmdiv ">
Guaranteed Income After Retirement </a>
<div class="panelnew cmdiv">
<p>
When you stop getting salaries a pension plan will turn on to be your lifesaver. You can choose the income payment options as either monthly/quarterly/half-yearly or annually depending on your requirements. Both deferred annuity plans and immediate annuity plans are secure and guaranteed.
</p> </div>
<a class="accordion cmdiv "> Secure Your Family With Death Benefits </a>
<div class="panelnew cmdiv">
<p> A pension plan pays you regular income when you’re alive, it also ensures that your beneficiary receives death benefits in case of any unfortunate events. The benefits can also include any bonuses, if applicable. The lump-sum payout received as a death benefit secures your family’s future for many major expenses.
</p></div>
<a class="accordion cmdiv "> Assured Investment Returns </a>
<div class="panelnew cmdiv">
<p> As per the (IRDAI) Insurance Regulatory and Development Authority of India guidelines, the insurance companies are mandated to offer guaranteed returns or positive no-zero returns. As per the orders, the insurance companies now offer a minimum of 1% returns on investment. This guarantees the returns and your investment will not lead to any losses.
</p></div>
<a class="accordion cmdiv "> Various Choice of Investment Plans</a>
<div class="panelnew cmdiv">
<p> Every investor comes with a different motive or preference to invest. Some may prefer portfolios offering various benefits, while others may prefer just moderate or conservative ones, helping the basic needs. The pension plans offer the option of choosing the underlying funds. Based on the options you chose, the returns and pay-out amounts will vary.
</p></div>
<a class="accordion cmdiv "> Tax Benefits On Pension Plan</a>
<div class="panelnew cmdiv">
<p>
According to Section 80CCC of the Income Tax Act, the pension plan offers you a tax deduction towards the premium. The tax deduction is up to Rs. 1.5 lakh is allowed in a financial year.
Start your search now, at insurejoy.com, to reach the best-suited pension plan for your coming years.
</p></div>
</div>
</section>
<section>
<h5 class=" sectiontitle "> Importance of</h5>
<h2>
Having A Pension Plans!
</h2>
<p>Having a Retirement Plan is important for people who seek a safe and financially secure future!</p>
<p>
They act as an important tool that facilitates financial stability post-retirement years. They provide double benefits by providing life cover as well as pension amount. You will never know the burden of paying for your pension plan as they are either funded by your salary if you are in a job, or through your income, if you are self-employed or in business. This means a certain amount of your life’s earnings are systematically saved directly from your bank account and stored for your future.
</p>
<p>Let us discuss the importance of having a pension plan in detail. Let us go through them one by one to gain clarity.</p>
<div class="elementcontainer1 ">
<div class="helement ">
<h4>
Develop a Disciplined Savings Habit
</h4>
<p>
Pension plans are long term investments wherein you are required to pay a small premium amount periodically to build a large corpus of funds that will be available to you in your retirement years. By not investing in a pension plan, you may or may not save for retirement. But, once you take a pension plan it will ensure that a chunk of money goes into your savings purposefully for your secure future.
</p>
</div>
<div class="helement ">
<h4>
They Bring Gains From Compounding
</h4>
<p>
The investment made for the pension plan is compounded over the years in form of the rate of interest. Therefore, the longer you stay invested in a pension plan, the more you gain from it. An individual should start investing in a pension plan as early as 20 years or when he starts earning and the compounded returns that you gain by the age you are ready to retire, say around 60, you will have a substantial amount in your pension account, to live a peaceful and comfortable life.
</p>
</div>
<div class="helement ">
<h4>
They Offer a Flexible Investment Plan
</h4>
<p>
The pension plans offer options of investment based on your investment and risk appetite. Based on your needs you can choose your plan type as immediate or deferred, you can also choose your investment form, which can be aggressive (i.e. large and small periodic investments), balanced (i.e. medium periodical investments) or conservative (i.e. small one-time investment). You have a choice to switch between debt-based and equity-based funds, based on the market changes and personal needs. Since pension plans are long-term planning such flexibility in the scheme is a necessity for changing circumstances in personal, financial and economic conditions.
</p>
</div>
<div class="helement ">
<h4>
They offer a Life Cover
</h4>
<p>
The pension plan has double benefits which also has the option of providing a life cover too. This will ensure the family’s safety in case of any unfortunate events like the death of the. This insurance-led pension plan secures the future of you and your family. This dual benefit offer is what makes the pension plan a very important investment in life.
</p>
</div>
<div class="helement ">
<h4>
Save For Emergencies And Stay Financially Independent
</h4>
<p>
Older people are more prone to get health-related issues often. The medical treatment expenses are soaring high day by day due to advancements in technology and rising inflation. It is important to get a pension plan that will help you stay financially independent during emergencies. This ensures that you are not a financial burden to anyone.
</p>
</div>
</div>
</section>
<section>
<h5 class=" sectiontitle ">Factors Affecting</h5>
<h2>
Returns On Pension Plans
</h2>
<p>Having Retirement planning right from the start is very crucial! Everyone wants to lead a stress-free, comfortable and secure old age where they do not have to worry about the funds each time for their basic needs and comfort. A good retirement plan helps to fulfil one's needs at the age when one wants to retire and are not able to work any longer. </p>
<p>All this is possible only if the Pension Plans are chosen carefully, and each pension plan proves to be successful only if the returns are just what one expects. </p>
<p>Now, the question running through your mind is how can we determine the returns of pension? What are the factors affecting the returns on pension plans? </p>
<p>
Here are some of the important factors considered that can help you to choose the correct pension plan.
</p>
<div class="accordianarea">
<a class="accordion cmdiv ">Based on Annuity</a>
<div class="panelnew cmdiv">
<p>
Based on the type of annuity option you choose i.e. deferred or immediate, your pension plans returns would differ. In a deferred plan, the funds get accumulated first in the accumulation period and can be withdrawn in the payment period, as a lump sum amount, quarterly or yearly basis. In the case of an immediate plan, you will start getting the returns immediately as soon as you pay the one single premium amount. The returns are based on the choice of the annuity.
</p>
</div>
<a class="accordion cmdiv "> Plans that are subject to Market Risk </a>
<div class="panelnew cmdiv">
<p>
Certain pension plans like the ULIP Pension plans are based on debt or equity mutual funds. Therefore, they are subject to market risk which directly affects your returns. The performance of the market whether up or down will affect your returns. For example, if a defined amount of your pension investment was sent to stocks, and if the price of the stocks you invested went high, then you will gain higher returns, and vice versa.
</p></div>
<a class="accordion cmdiv "> Start Investing in Pension Early </a>
<div class="panelnew cmdiv">
<p>
According to research, saving at least 15% or even more of your income, starting from an early age for 10-20 years in your career can ensure that you have saved enough money to retire comfortably at 60. It is not important that you save a high amount for a retirement plan; it means saving
substantially by investing a small amount systematically, starting from an early age or when you start earning your income.
</p></div>
<a class="accordion cmdiv "> Investing Period</a>
<div class="panelnew cmdiv">
<p>
The returns depend on the number of years you remain invested in a pension plan. A longer period will give you better returns. In case you need to withdraw some money from your investments you can withdraw 1/3rd amount from the vesting corpus amount.
</p></div>
<a class="accordion cmdiv "> Tax Benefits </a>
<div class="panelnew cmdiv">
<p>
Most of the time the taxes can significantly reduce the vesting corpus amount you have available for you when you retire. So it is important to learn about how your pension plans are going to be taxed. Though the pension plans mention that they provide the tax benefit of U/S 80(C), you should be aware that only a portion of the money is not taxable, but the rest of the pension received is Taxable. Not every premium that is paid or any withdrawals that are made are tax exempted. Some income, like interest, is being taxed as per income tax rates.
 </p></div>
</div>
</section>
<section>
<h5 class=" sectiontitle ">Important Factors To be Reviewed</h5>
<h2>
Before Purchasing a Pension Plan
</h2>
<p>
insurejoy.com will help you analyse a plan by considering various factors and parameters before you purchase a plan.
</p>
<ul>
<li>
<span>Compare Pension Plans:</span> There are a plethora of retirement plans available in the market. Compare pension plans and shortlist the ones that best suits your financial expectation.
</li>
<li>
<span>Consider Monthly Expenditure:</span> Calculate the monthly expenses you might need post-retirement as the income will be cut off and you might need sufficient funds to keep your family running smoothly. So it is best to have a corpus amount
slightly more than your calculated expenses to save for any financial emergencies.
</li>
<li>
<span>Human Life Expectancy:</span> Human life expectancy seems to have increased but you can never predict the future so it is important to secure the financial needs of our family in our absence. Choose a plan that will provide sufficient funds to
your beneficiary to lead a peaceful life in old age.
</li>
<li>
<span>Rising Inflation:</span>The rising inflation has to be considered before calculating the retirement fund. The corpus amount should equate to the growing inflation rate.
</li>
<li>
<span>Healthcare-related expense:</span> The importance of medical emergencies and health care treatment expenses has to be considered for old age. While having sufficient funds we are not dependent on anyone for medical needs.
</li>
<li>
<span> Liabilities:</span> It is important to consider the assets and loans that we may take or have to pay in the future. These loans have to be repaid on time or else they would take away a large chunk of annuity income during the retirement days.
</li>
<li>
<strong>Tax Benefits:</strong> Although tax benefits have to be considered they should not be the primary concern. Calculate your returns also keeping the tax deductions in mind.
</li>
</ul>
</section>
<section>
<h5 class=" sectiontitle ">If You Retire at 60 </h5>
<h2>
How Much Retirement Funds Do You Require?
</h2>
<p>Most of us in India have a predominant mindset to retire at 59 years, but in western countries, they have a concept of retiring as early as 40 years of age. They aim at working hard spending consciously and retire rich and early. So this movement type is called Financial Independence Retire Early (FIRE). Financial Independence doesn’t mean saving a lot of riches it means paying off all the debts by the time you retire and aim at getting passive income. </p>
<p>So let us discuss how much passive income do you require by the time you reach 59.</p>
<p>Let us assume that Mr Raju is an employee who is 40 years of age and has a monthly income of Rs. 80,000 per month. He is the sole earner of the family. His current monthly expenses are 50,000 including the loan and insurance premiums. Considering the above-given information the retirement amount can be easily calculated using a pension calculator that is available online. </p>
<p>As per RBI, the current inflation during the year 2021-2022 is 5.1%. So keeping the inflation at 5% the corpus amount can be calculated. </p>
<div class="elementcontainer1">
<div class="helement help-box">
<p>Current Monthly Income = <span>Rs. 80,000</span></p>
<p>
Monthly Expenses = <span>Rs. 50,000</span>
</p>
<p>
Current age = <span>40 years</span>
</p>
<p>
Retirement age = <span>60 years</span>
</p>
<p>
No: of years left for Retirement  age =<span> 20 years</span>
</p>
<p>
Inflation = <span>5%</span>
</p>
<p> Estimated post-retirement expenses = <span>Rs. 1,32,665/ month</span></p>
</div>
</div>
<p>
So for <strong>a monthly retirement income of Rs Rs. 1,32,665/ month, you need to invest Rs. 18,768 / month starting at the age of 40.</strong><br>
The amount to be invested per month would decrease if the retirement planning is started early.
</p>
</section>
<section>
<h5 class=" sectiontitle ">Return calculator </h5>
<h2>
How to Calculate Your Pension Returns?
</h2>
<p>
Strategic planning of your retirement is important to generate sufficient returns of pension. A retirement plan should be purchased based on proposed pension returns.
</p>
<p>Your pension can be easily calculated using an online pension calculator wherein certain basic details like your age, income, retirement age, monthly expenses have to be entered. Based on this information your monthly pension income will be calculated.</p>
</section>
<section>
<h5 class=" sectiontitle ">Important Tips </h5>
<h2>
To Invest In A Pension Plan
</h2>
<p>
To reap benefits in your retirement age, you need to be smart enough to invest correctly in a pension plan for it to offer hefty returns
<div class="sec-heading">Here are a few tips to consider while buying or investing in pension plans:<br /></br></div>
<div class="col-md 12 brd tipspoint pl2">
<h4>Start Early</h4>
<ul>
<li>By starting early you have ample time to make your money grow. A pension plan investment work based on the compounding effect and the longer the policy stays invested in the equity markets, the better are the returns. </li>
<li>The market volatility gets nullified due to the long term plan so by the time you retire, your investments would have multiplied into a substantial amount. </li>
<li>Starting at the age of 25 is a much better option compared to at the age of 35 years since you get a decade to make your money multiply and gain handsome returns. </li>
</ul>
</div>
<div class="col-md 12 brd tipspoint pl2">
<h4>Start Small</h4>
<ul>
<li>The amount invested may be huge or small but what matters the most is the time you start investing. Even if a small amount is invested at the right time, it will generate a substantial amount of money. </li>
<li>A small amount invested with discipline consistently over some time in equity-based markets is known to offer good returns and build a solid corpus of funds for you to enjoy your retirement life. </li>
<li>There is never a bad time to start a good thing like saving, so don&rsquo;t wait for the right time to invest. Just start investing immediately with whatever little you can spare after meeting your survival expenses. </li>
</ul>
</div>
<div class="col-md 12 brd tipspoint pl2">
<h4>Explore Different Investment Options</h4>
<ul>
<li>A retirement plan does not necessarily mean investing only in retirement plans and schemes. There are various options for investment. You can not only invest in a pension scheme but also consider investing in different long term investment instruments that provide good capital appreciation and returns. </li>
<li>Most of the plans come with tax benefits.</li>
</ul>
</div>
<p>A pension plan will act as your friend, companion and support during your retirement age. Check all the investment plans at insurejoy.com and invest wisely! </p>
</section>
<section>
<h5 class=" sectiontitle "> How insurejoy.com Will Help You</h5>
<h2>
To Choose the Best Pension Plan
</h2>
<p>
With a plethora of options available, it must be overwhelming to choose the best pension plan and the process might seem complicated for most people.<br>
But, insurejoy.com is here to make the process smooth and hassle-free for you.<br>
Here's how we do it:
</p>
<div class="elementcontainer1 ">
<div class="helement">
<h3>It Is Effortless</h3>
<p>Surfing the insurejoy.com website for information has been kept user-friendly and simple so that you can sail through it without any trouble. Whatever information you require about the pension plans, is easily available and presented in a simple to understand manner supported by expert advice.</p>
</div>
<div class="helement">
<h3>It Provides Quick Access</h3>
<p>insurejoy.com values your time and therefore we endeavour to provide you with every bit of information as fast as possible. Also, to make things even clearer, all information is up to date so you can make well-informed decisions.</p>
</div>
<div class="helement">
<h3>Assistance With Processing Of Claims</h3>
<p>We will not only help you to buy an insurance policy but will also help you to understand the entire claim process and even guide you during the filing of the claims and the processing of the same.</p>
</div>
<div class="helement">
<h3>Uncomplicated Formalities</h3>
<p>To dispel the most common perception that buying pension plans require complicated paperwork, insurejoy.com brings to you a simplified procedure of filling up forms. Not only the language is joyful to understand, but there are also experts, who will guide you during every step of the process.</p>
</div>
<div class="helement">
<h3>Facility To Collect The Documents</h3>
<p>In case you are not able to submit documents with your busy schedules and deadlines, we are here to offer you the option of picking up necessary documents from your home and deliver it to the concerned insurer.</p>
</div>
<div class="helement">
<h3>Tracking The Policy From Start To Finish</h3>
<p>With insurejoy.com, you can be assured of getting up-to-date information about your pension plans. We keep your insurance details intact and safe and will even remind you about paying premiums.</p>
</div>
<div class="helement">
<h3>Special Features At Your Service</h3>
<p>According to your needs and priorities, we help you sort down the requirements, through as many filters as possible, and provide you with specific information about pension plans that meet your criteria.</p>
<p>insurejoy.com is your one-stop-shop for getting all answers and investing in all kinds of pension plans! Start now!</p>
</div>
</div>
</section>
<section>
<h5 class=" sectiontitle ">Step Wise Process </h5>
<h2>
To Buy Pension Plans Online
</h2>
<p>
Buying a retirement plan online saves a lot of time, effort, and paperwork.
</p>
<p>
Here is how you can buy your pension plan online in few simple steps.
</p>
<ol>
<li>
Login to an insurance comparison website or the insurer's website directly if you have chosen your insurer already.
</li>
<li>
Read through the various plans available and make a study as per your individual needs.
</li>
<li>
Choose the coverage amount that you need.
</li>
<li>
Choose the riders (additional benefits) with your policy.
</li>
<li>
Fill in the details required by the insurance company, such as age, gender, illness, etc<br>
</li>
<li>
Calculate the premium.<br>
</li>
<li>
Pay the premium online through credit card, debit card, or net banking.
</li>
<li>
The pension plan will be generated in your name and issued by the company. You will receive the documents online, in your mail, and the hard copies via post.
</li>
</ol>
<p>At insurejoy.com, we make insurance buying joyful for you. insurejoy.com is your #1 trusted partner that provides effective solutions related to insurance products.</p>
</section>
</div>
<div class="rightcontent">
<h4>Compare Insurance Plans</h4>
<div class="border-rw"></div>
<ul>
<li><a href="life-insurance.html">Life Insurance</a></li>
<li><a href="term-insurance.html">Term Insurance</a></li>
<li><a href="critical-illness-insurance.html">Critical Illness Insurance</a></li>
<li><a href="health-insurance.html">Health Insurance</a>
<li> <a href="car-insurance.html">Car Insurance</a></li>
<li> <a href="bike-insurance.html">Bike Insurance</a></li>
<li><a href="child-plans.html">Child Plan</a></li>
<li><a href="investment-plans.html">Investment plan</a></li>
<li><a href="pension-plans.html">Pension plan</a></li>
</ul>
</div>
</div>

</main>

<footer class="purple section ">
    <div class="footerarea ">
    <div class="container ">
    <div class="companyintro">
    <!-- <img class="logofooter" ng-click="getIndex('/')" src="images/ijlogo-white.svg" alt="insurejoy.com" width="" height="" /> -->
    <h1 >My Company</h1>
    <!-- <p>4th Floor, N Heights Building, Plot No 12, Software Unit Layout, Madhapur, Hyderabad, Telangana - 500081, India</p>
    <p>
    Licensed by - IRDA/DB838/20 (License category- Direct Broker (Life & General))
    </p>
    <p>
    
    </p> -->
    <p><span> CIN:</span>17000 305 4688 </p>
    <p>For Complaints and Grievances, Please write at
    <a style=" text-decoration: underline; " target="_blank " href="#"><span class="__cf_email__">Shivamahale23@gmail.com</span></a>
    </p>
    <h4>We'd love to hear from you</h4>
    </div>
    <div class="contactarea">
    <div class=" contbox">
    <a ng-click="footer( 'Email') " href="#">
    <svg class="animated " role="img" aria-label="help">
    <use xlink:href="images/sprite.svg#email"></use>
    </svg>
    <span><span class="__cf_email__" data-cfemail="">Shivamahale23@gmail.com</span></span>
    </a>
    </div>
    <div ng-click="footer( 'Mobile') " class="contbox " tabindex="0 ">
    <svg class=" animated " role="img" aria-label="call">
    <use xlink:href="images/sprite.svg#call"></use>
    </svg>
    <span>1700 409 0966</span>
    </div>
    <div class="contbox">
    <a href="https://www.facebook.com" target="_blank " ng-click="footer( 'Facebook') ">
    <svg class="animated " role="img" aria-label="Facebook">
    <use xlink:href="images/sprite.svg#facebook"></use>
     </svg>
    </a>
    <a href="#" target="_blank " ng-click="footer( 'Twitter') " role="img" aria-label="Twitter">
    <svg class=" animated ">
    <use xlink:href="images/sprite.svg#twitter"></use>
    </svg>
    </a>
    <a href="#" target="_blank " ng-click="footer( 'Linkedin') ">
    <svg class=" animated " role="img" aria-label="Linkedin">
    <use xlink:href="images/sprite.svg#linkedin"></use>
    </svg>
    </a>
    <a href="#" target="_blank " ng-click="footer( 'Twitter') " style="visibility: visible; ">
    <svg class="animated " role="img" aria-label="youtube">
    <use xlink:href="images/sprite.svg#youtube"></use>
    </svg>
    </a>
    <a href="#" target="_blank " ng-click="footer( 'Linkedin') " style="visibility: visible; ">
    <svg class=" animated" role="img" aria-label="pinterest">
    <use xlink:href="images/sprite.svg#pinterest"></use>
    </svg>
    </a>
    <a href="#" target="_blank " ng-click="footer( 'Linkedin') " style="visibility: visible; ">
    <svg class=" animated" role="img" aria-label="instagram">
    <use xlink:href="images/sprite.svg#instagram"></use>
    </svg>
    </a>
    </div>
    </div>
    <div class="mainlinkarea">
    <div class="linkbox ">
    <h5 class="heading5 ">Company</h5>
    <ul>
    <li>
    <a href="index.html" ng-click="footer( 'Home') ">Home</a>
    </li>
    <li>
    <a href="about.html" ng-click="footer( 'About Us') ">About Us</a>
    </li>
    <li>
    <a href="careers.html" ng-click="footer( 'Careers') ">Careers</a>
    </li>
    <li>
    <a href="contact.html" ng-click="footer( 'Contact Us') ">Contact Us</a>
    </li>
    </ul>
    </div>
    <div class="linkbox ">
    <h5 class="heading5 ">Library</h5>
    <ul>
    <li>
    <a href="https://blog.insurejoy.com/" ng-click="footer( 'Insurance Knowledge') ">Insurance Blog</a>
    </li>
    <li>
    <a href="partners.html" ng-click="footer( 'Insurance Companies') ">Our Partners</a>
    </li>
    <li>
    <a href="frequently-asked-questions.html" ng-click="footer( 'FAQs') ">FAQs</a>
    </li>
    </ul>
    </div>
    <div class="linkbox">
    <h5 class="heading5 " ng-click="openLife();footer( 'Life') ">Life Insurance</h5>
    <ul>
    <li>
    <a href="term-insurance.html" ng-click="footer( 'Term') ">Term</a>
    </li>
    <li>
    <a href="child-plans.html" ng-click="footer( 'Child') ">Child</a>
    </li>
    <li>
    <a href="investment-plans.html" ng-click="footer( 'Investment') ">Investment</a>
    </li>
    <li>
    <a href="pension-plans.html" ng-click="footer( 'Pension') ">Pension</a>
    </li>
    </ul>
    </div>
    <div class="linkbox">
    <h5 class="heading5 ">General Insurance</h5>
    <ul>
    <li>
    <a href="car-insurance.html" ng-click="footer( 'Car Insurance') ">Car Insurance</a>
    </li>
    <li>
    <a href="bike-insurance.html" ng-click="footer( 'Bike Insurance') ">Bike Insurance</a>
    </li>
    <li>
    <a href="health-insurance.html" ng-click="footer( 'Health Insurance') ">Health Insurance</a>
    </li>
    <li>
    <a href="critical-illness-insurance.html" ng-click="footer( 'Critical Illness') ">Critical Illness</a>
    </li>
    </ul>
    </div>
    </div>
    <div class="linkarea">
    
    <a href="grievance-redressal.html">Grievance Redressal</a>
    <a href="terms-and-conditions.html" ng-click="footer( 'Terms &amp; Conditions') ">Terms &amp;
    Conditions</a>
    <a href="privacy-policy.html" ng-click="footer( 'Privacy Policy') ">Privacy Policy</a>
    <a href="legal.html" ng-click="footer( 'Legal') ">Legal</a>
    </div>
    <!-- <div class="payoptionarea ">
    <span>Payment Methods</span>
    <svg>
    <use xlink:href="images/sprite.svg#paymentops"></use>
    </svg>
    </div>
    <div class="disclaimersarea">
    <p>
    <span> DISCLAIMER:</span> <span>
    Kindly note that insurejoy.com can share the particulars of clients/visitors with the insurers for the purpose of soliciting
    insurance policies. Insurance is the subject matter of Solicitation. For more details on risk factors, terms and conditions please read
    sales brochure carefully before concluding a sale. Tax benefits are subject to changes in taxation laws. Terms and Conditions shall apply
    for standard insurance plans. Product Information is authentic and solely based on the information received from the insurer
    </span>
    </p> -->
    <span>
    Copyright 2022 MyCompany.com. All Rights Reserved.
    </span>
    </div>
    </div>
    </div>
    </footer><link href="sass/animate.min.css" rel="stylesheet" type="text/css" />
<script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="df1943c9606e0f3bc4c5fc47-text/javascript" src="insurejoy-lib/external.min.js"></script>

<script type="df1943c9606e0f3bc4c5fc47-text/javascript">
        function openNav() {
            document.getElementById("myNav").style.height = "100%";
        }

        function closeNav() {
            document.getElementById("myNav").style.height = "0%";
        }
    </script>


<script type="df1943c9606e0f3bc4c5fc47-text/javascript">
        (function() {
            if (window.BOOMR && window.BOOMR.version) {
                return;
            }
            var dom, doc, where, iframe = document.createElement("iframe"),
                win = window;

            function boomerangSaveLoadTime(e) {
                win.BOOMR_onload = (e && e.timeStamp) || new Date().getTime();
            }
            if (win.addEventListener) {
                win.addEventListener("load", boomerangSaveLoadTime, false);
            } else if (win.attachEvent) {
                win.attachEvent("onload", boomerangSaveLoadTime);
            }

            iframe.src = "javascript:void(0)";
            iframe.title = "";
            iframe.role = "presentation";
            (iframe.frameElement || iframe).style.cssText = "width:0;height:0;border:0;display:none;";
            where = document.getElementsByTagName("script")[0];
            where.parentNode.insertBefore(iframe, where);

            try {
                doc = iframe.contentWindow.document;
            } catch (e) {
                dom = document.domain;
                iframe.src = "javascript:var d=document.open();d.domain='" + dom + "';void(0);";
                doc = iframe.contentWindow.document;
            }
            doc.open()._l = function() {
                var js = this.createElement("script");
                if (dom) {
                    this.domain = dom;
                }
                js.id = "boomr-if-as";
                js.src = "https://s.go-mpulse.net/boomerang/" +
                    "H9B7R-S7DBN-RVK3R-XSSQ5-334FC";
                BOOMR_lstart = new Date().getTime();
                this.body.appendChild(js);
            };
            doc.write('<body onload="document._l();">');
            doc.close();
        })();
    </script>
<script src="cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="df1943c9606e0f3bc4c5fc47-|49" defer=""></script><script defer src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" data-cf-beacon='{"rayId":"7425546abc224cdd","token":"21d39aec2919455496f3629a9add23fe","version":"2022.8.0","si":100}' crossorigin="anonymous"></script>
</body>

<!-- Mirrored from www.insurejoy.com/pension-plans by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 29 Aug 2022 12:36:31 GMT -->
</html>